.expertise {
  $section: &;

  display: flex;
  flex-wrap: wrap;
  height: 100%;

  @include below($xl) {
    height: auto;
  }

  @include below($lg) {
    display: block;
  }

  &__bg {
    $bg: &;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .home-section_theme-dark & {
      background-color: $bg-color-black;
    }

    .home-section_theme-light-blue & {
      background-color: $bg-color-blue;
    }

    .home-section_theme-light-gray & {
      background-color: $bg-color-white;
    }

    &-inner {
      position: relative;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .home-section_theme-dark & {
        opacity: 0.9;
      }

      .home-section_theme-light-blue & {
        opacity: 0.2;
      }

      .home-section_theme-light-gray & {
        opacity: 0.2;
      }

      &::after {
        $shade-color: black;

        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, $shade-color 0, rgba($shade-color, 0.5) 50%, rgba($shade-color, 0) 100%);
        opacity: 0.5;
        content: "";

        .home-section_theme-dark & {
          display: block;
        }
      }
    }

    @include below($lg) {
      display: none;
    }
  }

  &__heading {
    $width: 35.2%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    height: 100%;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      $width: 35.2%;

      flex-basis: $width;
      width: $width;
      max-width: $width;
      height: 100%;

      @include padding-y($layout-page-space-v_lg);
    }

    @include below($hd) {
      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      height: auto;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: auto;
      max-width: none;
      min-height: 36rem;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-figure {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;

      @include below($lg) {
        display: block;
      }
    }

    &-title {
      position: relative;
      margin-bottom: 1.6rem;
      color: $text-color-white;
      font: 300 #{$h3-font-size}/#{$h3-line-height} $font-title;
      text-transform: uppercase;

      @include below($hd) {
        font-size: $h3-font-size_md;
        line-height: $h3-line-height_md;
      }

      @include below($lg) {
        width: 100%;
        font-size: $h3-font-size_sm;
        line-height: $h3-line-height_sm;
      }

      .home-section_theme-dark & {
        color: $text-color-white;
      }

      .home-section_theme-light-blue & {
        color: $text-color-white;
      }

      .home-section_theme-light-gray & {
        color: $text-color-blue;
      }
    }

    &-text {
      position: relative;
      max-width: 62rem;
      color: $text-color-white;
      font: 500 #{$large-text-font-size}/#{$large-text-line-height} $font-title;

      @include below($hd) {
        max-width: 52rem;
        font-size: $large-text-font-size_md;
        line-height: $large-text-line-height_md;
      }

      @include below($lg) {
        font-size: $large-text-font-size_sm;
        line-height: $large-text-line-height_sm;
      }

      .home-section_theme-dark & {
        color: $text-color-white;
      }

      .home-section_theme-light-blue & {
        color: $text-color-white;
      }

      .home-section_theme-light-gray & {
        color: $text-color-black;
      }

      &_script {
        @include below($xl) {
          display: none;
        }
      }

      &_no-script {
        display: none;

        @include below($xl) {
          display: block;
        }

        @include below($lg) {
          width: 100%;
        }
      }

      p {
        margin-bottom: 2.4rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-footer {
      position: relative;
      margin-top: 2rem;
    }

    &-more {
      color: $button-color-white;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 3.2rem;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 1px dashed currentColor;
      transition: border-color $animation-speed;

      .home-section_theme-dark & {
        color: $text-color-white;
      }

      .home-section_theme-light-blue & {
        color: $text-color-white;
      }

      .home-section_theme-light-gray & {
        color: $text-color-blue;
      }

      @include below($hd) {
        font-size: 2rem;
        line-height: 2.4rem;
      }

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__data {
    $data: &;
    $width: 64.8%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    height: 100%;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};
    background-color: $bg-color-white;

    &_blue {
      background-color: $bg-color-blue;
    }

    @include below($hd) {
      $width: 64.8%;

      flex: 1 0 $width;
      width: $width;
      max-width: $width;
      height: 100%;

      @include padding-y($layout-page-space-v_lg);
    }

    @include below($hd) {
      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      height: auto;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($lg) {
      width: auto;
      max-width: none;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0 -1.4rem -2.8rem;

      @include below($sm) {
        display: block;
      }
    }

    &-item {
      $item: &;
      $width: 50%;

      flex: 1 0 $width;
      max-width: $width;
      padding: 0 1.4rem 2.8rem;

      @include below($sm) {
        max-width: none;
      }

      &-el {
        $el: &;

        position: relative;
        display: block;
        color: inherit;
        text-decoration: none;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          background-color: $button-color-blue;
          transform: scaleY(0);
          transform-origin: right bottom;
          transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
          content: "";
          will-change: transform;
        }

        #{$data}_blue &::before {
          background-color: $button-color-white;
        }

        //#{$item}:nth-child(1) & {
        //  &::before {
        //    background-color: $brand-color-security;
        //  }
        //}
        //
        //#{$item}:nth-child(2) & {
        //  &::before {
        //    background-color: $brand-color-medical;
        //  }
        //}
        //
        //#{$item}:nth-child(3) & {
        //  &::before {
        //    background-color: $brand-color-innovation;
        //  }
        //}
        //
        //#{$item}:nth-child(4) & {
        //  &::before {
        //    background-color: $brand-color-science;
        //  }
        //}
        //
        //#{$item}:nth-child(5) & {
        //  &::before {
        //    background-color: $brand-color-security;
        //  }
        //}
        //
        //#{$item}:nth-child(6) & {
        //  &::before {
        //    background-color: $brand-color-medical;
        //  }
        //}

        &:hover {
          &::before {
            transform: scaleY(1);
            transition-duration: $animation-speed * 1.5;
          }
        }

        &-photo {
          position: relative;
          height: calc((100vh - #{6rem + $layout-page-space-v * 3 + 2.8rem}) / 3 - #{1rem + 3.4rem});
          margin-bottom: 1rem;
          overflow: hidden;

          @include below($hd) {
            height: calc((100vh - #{6rem + $layout-page-space-v_lg * 3 + 2.8rem}) / 3 - #{1rem + 3.4rem});
          }

          @include below($xl) {
            height: auto;
          }

          &::before {
            display: none;
            content: "";

            @include ratio(573, 378);

            @include below($xl) {
              display: block;
            }
          }

          &-inner {
            position: relative;
            height: 100%;
            background-color: $bg-color-blue;
            transition: $animation-speed-out;

            @include below($xl) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            #{$el}:hover & {
              transform: scale(0.88);
              transition-duration: $animation-speed;
            }
          }

          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            backface-visibility: hidden;
            opacity: 0.5;
            transition: opacity $animation-speed-out;

            @include below($xl) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            #{$el}:hover & {
              opacity: 1;
              transition-duration: $animation-speed;
            }
          }
        }

        &-title {
          position: relative;
          display: inline-block;
          max-width: 100%;
          font: 300 2rem/2.4rem $font-button;
          letter-spacing: 0.03rem;
          text-transform: uppercase;
          vertical-align: top;
          box-shadow: inset 0 -2px 0 $text-color-blue;
          transition: {
            property: box-shadow;
            duration: $animation-speed-out;
          };

          #{$data}_blue & {
            box-shadow: inset 0 -2px 0 $text-color-white;
          }

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.06rem;
          }

          #{$el}:hover & {
            box-shadow: inset 0 -2px 0 $text-color-blue;
            transition-duration: $animation-speed;
          }

          &-inner {
            padding: 0.6rem 0;
            color: $text-color-blue;
            transform-origin: bottom left;
            transition: {
              property: color, transform;
              duration: $animation-speed-out;
            };

            #{$data}_blue & {
              color: $text-color-white;
            }

            #{$el}:hover & {
              color: $text-color-white;
              box-shadow: inset 0 -2px 0 $text-color-blue;
              transform: translateX(3.5rem) translateY(-1.5rem) scale(0.88, 1);
              transition-duration: $animation-speed;
            }

            #{$data}_blue #{$el}:hover & {
              color: $text-color-blue;
              box-shadow: inset 0 -2px 0 $text-color-white;
            }

            & > span {
              position: relative;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
