<div class="offices__info-item-el js-offices-panel@@if(context.isActive){ is-active}" id="@@id">
  <div class="offices__info-item-el-content">
    <div class="offices__info-item-el-photo">
      <img class="offices__info-item-el-photo-img" src="@@image" alt="image description" />
    </div>
    <img class="offices__info-item-el-logo" src="assets/images/contacts-logo-white.svg" alt="LINEV Group" />
    @@if (context.title) {<div class="offices__info-item-el-title">@@title</div>}
    @@if (context.address) {<div class="offices__info-item-el-address">@@address</div>}
    @@if (context.phone) {
    <div class="offices__info-item-el-phones">
      @@for (var i = 0; i < phone.length; i++){<div class="offices__info-item-el-phone"><a href="tel:`+phone[i]+`">`+phone[i]+`</a></div>}
    </div>}
    @@if (context.freeLine) {<div class="offices__info-item-el-free">@@freeLine.label <a href="tel:@@freeLine.phone">@@freeLine.phone</a></div>}
  </div>
  <div class="offices__info-item-el-button">
    @@include("blocks/button-default/button-default.html", { "href": "#contacts-form", "text": "Write the message", "mods": ["white", "full-width"], "class": "js-scroll-to"})
  </div>
</div>
