.innovative {
  $section: &;

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  transform: translateY(-50%);
  transition: 0.5s;

  .main-page-section & {
    height: calc(100vh - #{$header-height-top});
    transform: none;
  }

  @include below($xl) {
    display: block;
    height: auto;
    transform: none;
  }

  .hide-shade & {
    transform: translateY(0);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .home-section_theme-dark & {
      background-color: $bg-color-black;
    }

    .home-section_theme-light-blue & {
      background-color: $bg-color-blue;
    }

    .home-section_theme-light-gray & {
      background-color: $bg-color-white;
    }

    &-inner {
      position: relative;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;

      .home-section_theme-dark & {
        opacity: 0.9;
      }

      .home-section_theme-light-blue & {
        opacity: 0.2;
      }

      .home-section_theme-light-gray & {
        opacity: 0.2;
      }

      @include below($xl) {
        display: none;
      }

      &::after {
        $shade-color: black;

        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, $shade-color 0, rgba($shade-color, 0.5) 50%, rgba($shade-color, 0) 100%);
        opacity: 0.5;
        content: "";

        .home-section_theme-dark & {
          display: block;
        }
      }
    }
  }

  &__heading {
    $width: 50%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    height: 100%;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      width: $width;
      max-width: $width;
      height: 100%;

      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: auto;
      max-width: none;
      height: auto;
      min-height: 36rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};

      .home-section_theme-dark & {
        background-color: $bg-color-black;
      }

      .home-section_theme-light-blue & {
        background-color: $bg-color-blue;
      }

      .home-section_theme-light-gray & {
        background-color: $bg-color-white;
      }
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-figure {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;

      @include below($xl) {
        display: block;

        .home-section_theme-dark & {
          opacity: 0.9;
        }

        .home-section_theme-light-blue & {
          opacity: 0.2;
        }

        .home-section_theme-light-gray & {
          opacity: 0.2;
        }
      }
    }

    &-title {
      position: relative;
      margin-bottom: 1.6rem;
      color: $text-color-white;
      font: 300 #{$h3-font-size}/#{$h3-line-height} $font-title;
      text-transform: uppercase;

      @include below($hd) {
        font-size: $h3-font-size_md;
        line-height: $h3-line-height_md;
      }

      @include below($xl) {
        width: 100%;
      }

      @include below($lg) {
        font-size: $h3-font-size_sm;
        line-height: $h3-line-height_sm;
      }

      &_blue {
        color: $text-color-blue;
      }

      .home-section_theme-dark & {
        color: $text-color-white;
      }

      .home-section_theme-light-blue & {
        color: $text-color-white;
      }

      .home-section_theme-light-gray & {
        color: $text-color-blue;
      }
    }

    &-text {
      position: relative;
      max-width: 45rem;
      color: $text-color-white;
      font: 500 #{$large-text-font-size}/#{$large-text-line-height} $font-title;

      @include below($hd) {
        max-width: 40rem;
        font-size: $large-text-font-size_md;
        line-height: $large-text-line-height_md;
      }

      @include below($lg) {
        font-size: $large-text-font-size_sm;
        line-height: $large-text-line-height_sm;
      }

      &_blue {
        color: $text-color-blue;
      }

      &_black {
        color: $button-color-black;
      }

      .home-section_theme-dark & {
        color: $text-color-white;
      }

      .home-section_theme-light-blue & {
        color: $text-color-white;
      }

      .home-section_theme-light-gray & {
        color: $text-color-black;
      }

      &_script {
        @include below($xl) {
          display: none;
        }
      }

      &_no-script {
        display: none;

        @include below($xl) {
          display: block;
          width: 100%;
        }
      }

      .main-page-restyle & {
        font: 300 2rem/3.2rem $font;
        letter-spacing: 0.02em;

        @include below($md) {
          font-size: 1.6rem;
          line-height: 2rem;
          letter-spacing: 0.025em;
        }

        strong {
          font-weight: 400;
        }
      }
    }
  }

  &__data {
    $width: 50%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    height: 100%;
    background-color: $bg-color-blue;

    @include below($hd) {
      $width: 50%;

      flex: 1 0 $width;
      width: $width;
      max-width: $width;
      height: 100%;
    }

    @include below($xl) {
      width: auto;
      max-width: none;
      height: auto;
    }

    &-list {
      display: block;
    }

    &-item {
      $panel-space-vt: 1vh;
      $panel-space-vb: 4vh;
      $panel-height: 50vh;
      $button-area-height: 7.2rem;
      $button-area-height_md: 6.2rem;

      position: relative;
      z-index: 1;

      &-divider {
        position: absolute;
        right: $layout-page-space-h;
        bottom: 0;
        left: $layout-page-space-h;
        z-index: -1;
        font-size: 0;
        line-height: 0;
        border-top: 1px solid $line-color-blue;

        @include below($xl) {
          right: #{$layout-page-space-h_md};
          left: #{$layout-page-space-h_md};
        }

        @include below($md) {
          right: #{$layout-page-space-h_sm};
          left: #{$layout-page-space-h_sm};
        }
      }

      &-header {
        $header: &;
        $count: 3; // количество элементов
        $line-height: 3.2rem;
        $title-inner-space-v: 0.4rem;
        $title-inner-height: $line-height + $title-inner-space-v * 2; // Общая высота внутренней части шапки элемента аккордеона
        $panel-height-total: $panel-height + $panel-space-vt + $panel-space-vb; // Общая высота раскрытой панели
        $space-v: calc(((100vh - #{$header-height-top} - #{$panel-height-total} - #{$button-area-height}) / #{$count} - #{$title-inner-height}) / 2);
        $space-v_md: calc(((100vh - #{$header-height-top} - #{$panel-height-total} - #{$button-area-height_md}) / #{$count} - #{$title-inner-height}) / 2);

        position: relative;
        z-index: 1;
        padding: $space-v #{$layout-page-space-h + 4rem - 1rem} $space-v #{$layout-page-space-h};
        color: $text-color-white;
        font: 300 2.4rem/#{$line-height} $font-title;
        letter-spacing: 0.006em;
        text-transform: uppercase;
        cursor: pointer;
        transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
        user-select: none;

        @include below($hd) {
          padding-top: $space-v_md;
          padding-bottom: $space-v_md;
          font-size: 2rem;
        }

        @include below($xl) {
          //padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
          padding: 2.4rem #{$layout-page-space-h_md + 4rem - 1rem} 2.4rem #{$layout-page-space-h_md};
        }

        @include below($lg) {
          font-size: 2rem;
          line-height: 2.4rem;
        }

        @include below($md) {
          padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm + 3} #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          display: block;
          background-color: $bg-color-white;
          transform: scaleY(0);
          transform-origin: right bottom;
          transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
          content: "";
          will-change: transform;

          @include below($xl) {
            content: none;
          }
        }

        &:hover {
          color: $text-color-blue;
          transition: $animation-speed;

          @include below($xl) {
            color: $text-color-white;
          }

          &::before {
            transform: scaleY(1);
            transition-duration: $animation-speed;
          }
        }

        &-inner {
          position: relative;
          display: block;
          max-width: 100%;
          padding: #{$title-inner-space-v} 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @include below($xl) {
            padding: 0;
            white-space: normal;
          }
        }

        &-angle {
          position: absolute;
          top: 50%;
          right: #{$layout-page-space-h - 1rem};
          display: block;
          width: 4rem;
          height: 4rem;
          margin-top: -2rem;
          font-size: 0;
          line-height: 0;

          @include below($hd) {
            width: 2.4rem;
            height: 2.4rem;
            margin-top: -1.2rem;
          }

          @include below($xl) {
            right: #{$layout-page-space-h_md};
          }

          @include below($md) {
            right: #{$layout-page-space-h_sm};
          }

          span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            transition: $animation-speed;

            &::before,
            &::after {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: opacity $animation-speed-out;
              content: "";
            }

            &::before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.35 14.3002L20 21.9502L27.65 14.3002L30 16.6668L20 26.6668L10 16.6668L12.35 14.3002Z' fill='white'/%3E%3C/svg%3E%0A");
            }

            &::after {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.35 14.3002L20 21.9502L27.65 14.3002L30 16.6668L20 26.6668L10 16.6668L12.35 14.3002Z' fill='%230870d8'/%3E%3C/svg%3E%0A");
              opacity: 0;
            }

            #{$header}.is-active & {
              transform: rotate(0.5turn);
            }

            #{$header}:hover & {
              &::before,
              &::after {
                transition-duration: $animation-speed;
              }

              &::before {
                opacity: 0;

                @include below($xl) {
                  opacity: 1;
                }
              }

              &::after {
                opacity: 1;

                @include below($xl) {
                  opacity: 0;
                }
              }
            }
          }
        }
      }

      &-panel-wrap-js {
        position: relative;
        overflow: hidden;
      }

      &-panel {
        $panel: &;

        padding: #{$panel-space-vt} #{$layout-page-space-h} #{$panel-space-vb};

        @include below($hd) {
          padding-bottom: 2.8rem;
        }

        @include below($xl) {
          padding: 0 #{$layout-page-space-h_md} 2.4rem;
        }

        @include below($md) {
          padding: 1vh #{$layout-page-space-h_sm} 2.4vh;
        }

        &-content {
          display: flex;
          flex-direction: column;
          transform: translateY(-15%);
          opacity: 0;
          transition: $animation-speed;

          @include below($xl) {
            transform: none;
            opacity: 1;
          }

          #{$panel}.is-active & {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      &-body {
        position: relative;
        width: 100%;
        max-height: $panel-height;
        overflow: hidden;
        color: $text-color-white;
        font-size: 2.4rem;
        line-height: 3.2rem;
        letter-spacing: 0.02em;

        @include below($hd) {
          font-size: 1.6rem;
          line-height: 2rem;
        }

        @include below($xl) {
          max-height: none;
          font-size: 2rem;
          line-height: 2.4rem;
        }

        //&::after {
        //  $color: $bg-color-blue;
        //
        //  position: absolute;
        //  right: 0;
        //  bottom: 0;
        //  left: 0;
        //  display: block;
        //  height: 1.6rem;
        //  background: linear-gradient(to top, rgba($color, 1) 0%, rgba($color, 0.9) 50%, rgba($color, 0) 100%);
        //  content: "";
        //
        //  @include below($hd) {
        //    height: 2.4rem;
        //  }
        //
        //  @include below($xl) {
        //    display: none;
        //    content: none;
        //  }
        //}

        ul {
          margin: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст
          padding: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст

          li {
            margin: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст
            padding: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст

            @include below($xl) {
              margin-bottom: 0.4rem;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        p {
          margin: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст
          padding: 0; // Важно! Отступы должны быть обнулены, чтобы корректно обрезало лишний текст
        }
      }

      &-img {
        position: relative;
        height: 30vh;
        margin-bottom: 2.4rem;

        @include below($sm) {
          height: 18rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-footer {
        width: 100%;
        padding-top: 2.4rem;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}
