.snippet-quote {
  &__layout {
    position: relative;
    display: block;
    width: 72rem;
    max-width: 80%;
    margin: #{$bottom-space} auto;
    padding: 0;

    @include below($lg) {
      max-width: calc(100% - 8.8rem);
    }

    @include below($lg) {
      max-width: calc(100% - 4.4rem);
    }
  }

  &__img {
    display: block;
    width: 12rem;
    max-width: 100%;
    height: 12rem;
    margin: 0 auto 1.6rem;
    border-radius: 6rem;
  }

  &__cite {
    display: block;
    margin-bottom: 0.4rem;
    font: 300 #{$h5-fz}/#{$h5-lh} $font-title;
    text-align: center;
    text-transform: uppercase;

    @include below($lg) {
      font-size: $h5-fz_sm;
      line-height: $h5-lh_sm;
    }
  }

  &__post {
    margin-bottom: 2.8rem;
    font-size: $fz-small;
    line-height: $lh-small;
    text-align: center;

    @include below($lg) {
      font-size: $fz-small_sm;
      line-height: $lh-small_sm;
    }
  }

  &__q {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 1.4rem;
    font: 300 #{$fz-large}/#{$lh-large} $font-title;
    text-align: center;

    @include below($lg) {
      font-size: $fz-large_sm;
      line-height: $lh-large_sm;
    }

    &::before {
      content: "«";
    }

    &::after {
      content: "»";
    }
  }
}
