html {
  height: 100%; // Footer at bottom
  font-size: 62.5%;
}

body {
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  min-width: $layout-page-min-width;
  height: 100%; // Footer at bottom
  color: #000;
  font-size: 2.4rem;
  line-height: (3.2rem / 2.4rem);
  background: $bg-color-white;

  @include antialiased;
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

img {
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

.hide {
  display: none !important;
}
