html {
  height: 100%; // Footer at bottom
  font-size: 62.5%;

  // Блокировать прокрутку
  &.css-scroll-fixed:not(.open-only-mob) {
    @include lock-scroll;
  }

  // Не блокировать прокрутку, если есть класс open-only-mob
  &.css-scroll-fixed.open-only-mob {
    @include below($lg) {
      @include lock-scroll;
    }
  }
}

body {
  display: flex; // Footer at bottom
  flex-direction: column; // Footer at bottom
  min-width: $layout-page-min-width;
  height: 100%; // Footer at bottom
  color: #000;
  font: 2.6rem/#{round-float(3.4rem / 2.6rem, 2)} $font;
  background: $bg-color-white;
}

.header {
  flex-shrink: 0; // Footer at bottom
}

.main {
  position: relative;
  flex: 1 0 auto; // Footer at bottom
  padding: #{$header-height-top + $header-height-bottom} 0 0;

  @include below($lg) {
    padding-top: $header-height-top;
  }
}

.footer {
  z-index: 10;
  flex-shrink: 0; // Footer at bottom
  margin-top: auto;
}

.layout-site {
  max-width: $layout-site-max-width;
  margin-right: auto;
  margin-left: auto;
}

.layout-page,
.layout-content,
.layout-narrow, {
  &_has-spaces {
    padding-right: $layout-page-space_h;
    padding-left: $layout-page-space_h;

    @include below($xl) {
      padding-right: $layout-page-space_h_md;
      padding-left: $layout-page-space_h_md;
    }

    @include below($md) {
      padding-right: $layout-page-space_h_sm;
      padding-left: $layout-page-space_h_sm;
    }
  }

  &_no-max-width {
    max-width: none;
  }
}

.layout-page {
  max-width: $layout-page-max-width;
  margin-right: auto;
  margin-left: auto;
}

.layout-content {
  width: 100%;
  max-width: $layout-content-max-width;
  margin-right: auto;
  margin-left: auto;

  &_align-left {
    margin-right: 0;
    margin-left: 0;
  }

  &_align-right {
    margin-right: 0;
  }

  &_has-spaces {
    max-width: calc(#{$layout-content-max-width} + #{$layout-page-space-h} * 2);

    @include below($xl) {
      max-width: calc(#{$layout-content-max-width} + #{$layout-page-space-h_md} * 2);
    }

    @include below($md) {
      max-width: calc(#{$layout-content-max-width} + #{$layout-page-space-h_sm} * 2);
    }
  }
}

img {
  vertical-align: top;
  border: none;

  table & {
    max-width: none;
  }
}

p {
  margin-bottom: 3.4rem;

  @include below($hd) {
    margin-bottom: 2.4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.nobr {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.display-block {
  display: block;
}
