.edit-content {
  $content: &;

  a:not([class*=btn-]) {
    color: $link-color;
    text-decoration: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;

    &:visited {
      color: $visited-color;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  p,
  .p {
    margin-bottom: $bottom-space;

    @include below($md) {
      margin-bottom: $bottom-space_mob;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  .h1 {
    position: relative;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    color: #000;
    font: bold 16rem/1 $font-title;
    letter-spacing: -0.025em;
    text-align: center;
    text-transform: uppercase;

    @include below($hd) {
      font-size: 11.6rem;
      line-height: round-float(11.6 / 11.6, 1);
      letter-spacing: round-float(-1.8 / 11.6 * 1em, 3);
    }

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }
  }

  h2,
  .h2 {
    max-width: 78rem;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    color: #000;
    font: bold 11.6rem/1 $font-title;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @include below($hd) {
      font-size: 6.8rem;
      line-height: round-float(72 / 68, 1);
      letter-spacing: round-float(-0.06 / 6.8 * 1em, 3);
    }

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h3,
  .h3 {
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    color: #000;
    font: bold 8.4rem/1 $font-title;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h4,
  .h4 {
    margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space;
    color: #000;
    font: bold 5.2rem/(5.6rem / 5.2rem) $font-title;
    text-transform: uppercase;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 1.5, 1)} 0 $bottom-space_mob;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h5,
  .h5 {
    margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space;
    color: #000;
    font: bold 3.2rem/(4rem / 3.2rem) $font-title;
    letter-spacing: 0.006em;
    text-transform: uppercase;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 1.5, 1)} 0 $bottom-space_mob;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h6,
  .h6 {
    margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space;
    color: #000;
    font: bold 2.4rem/(3.2rem/2.4rem) $font-title;
    letter-spacing: 0.006em;
    text-transform: uppercase;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 1.5, 1)} 0 $bottom-space_mob;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  ul {
    $list-space: 3.2rem;
    $bottom-space-item: 2.6rem;

    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    padding: 0;
    color: #000;
    font-size: 1.6rem;
    line-height: 2.4rem;
    list-style: none;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    & > li {
      position: relative;
      margin: $bottom-space-item 0 0;
      padding-left: $list-space;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        display: block;
        float: left;
        width: 1.4rem;
        height: 1.4rem;
        margin: 0.2em 0 -0.2em -#{$list-space};
        background-color: $bg-color-blue;
        border-radius: 1.4rem;
        box-shadow: 0 2px 2px rgba(#000, 0.25);
        content: "";
      }
    }
  }

  ol {
    $list-space: 3.2rem;
    $bottom-space-item: 2.6rem;

    max-width: 78rem;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    padding: 0;
    color: #000;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    list-style: none;
    counter-reset: section;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    & > li {
      position: relative;
      margin: $bottom-space-item 0 0;
      padding-left: $list-space;
      counter-increment: section;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        position: relative;
        display: inline-block;
        min-width: $list-space;
        margin-left: -#{$list-space};
        padding: 0 4px 0 0;
        color: $bg-color-blue;
        font-weight: 700;
        font-size: 1.2em;
        text-align: left;
        text-shadow: 0 2px 2px rgba(#000, 0.25);
        content: counter(section) ".";
      }
    }
  }

  ul,
  ol {
    $bottom-space-item: 2.6rem;

    ul,
    ol {
      margin: $bottom-space-item 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    clear: both;
    max-width: 100%;
    height: auto;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    text-align: center;
    vertical-align: top;
    border: none;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    &:first-child {
      margin-top: 0;
    }

    &[align="left"],
    &.imgl {
      float: left;
      clear: left;
      max-width: 55%;
      margin: #{round-float($bottom-space * 2.25, 1)} 3rem #{round-float($bottom-space * 1.25, 1)} 0;
      text-align: left;

      @include below($md) {
        float: none;
        max-width: 100%;
        margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
        text-align: center;
      }
    }

    &[align="right"],
    &.imgr {
      float: right;
      clear: right;
      max-width: 55%;
      margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)} 3rem;
      text-align: right;

      @include below($md) {
        float: none;
        max-width: 100%;
        margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
        text-align: center;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__video {
    position: relative;
    display: block;
    margin: #{round-float($bottom-space * 1.25, 1)} 0 #{round-float($bottom-space * 1.69, 1)};

    @include below($md) {
      margin-top: #{round-float($bottom-space_mob * 1.25, 1)};
      margin-bottom: #{round-float($bottom-space_mob * 1.69, 1)};
    }

    &::before {
      display: block;
      content: "";

      @include ratio(16, 9);
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  table {
    width: auto;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    border: none;
    border-collapse: collapse;
    border-spacing: 0;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    &:last-child {
      margin-bottom: 0;
    }

    td,
    th {
      padding: 1.2rem 1.8rem;
      color: #000;
      font-size: 1.6rem;
      line-height: 2.5rem;
      letter-spacing: 0.01em;
      word-break: normal;
      background-color: $bg-color-white;
      border: 1px solid #e0e0e0;
    }

    th,
    thead td,
    tfoot td {
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;
      background: $bg-color-white;
    }
  }

  .table-auto {
    position: relative;
    max-width: 100%;
    margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @include below($md) {
      margin: #{round-float($bottom-space_mob * 2.25, 1)} 0 #{round-float($bottom-space_mob * 1.25, 1)};
    }

    &:last-child {
      margin-bottom: 0;
    }

    table {
      width: auto;
      min-width: 100%;
      margin: 0;
    }
  }
}
