.lang-panel {
  $drop: &;

  position: fixed;
  top: $header-height-top;
  right: 0;
  z-index: 25;
  width: 11rem;
  background-color: rgba($bg-color-blue, 0.98);
  transform: translateX(100%);
  opacity: 0;
  transition: $animation-speed;
  pointer-events: none;
  will-change: opacity, transform;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 2.3rem;
    bottom: 0;
    display: block;
    border-left: 1px solid $line-color-blue;
    content: "";
    pointer-events: none;
  }

  &__list {
    display: block;
    padding: 2.4rem 0;

    &-item {
      a,
      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4rem;
        padding: 0 2.4rem;
        transition: $animation-speed;

        &.muted {
          opacity: 0.5;
        }
      }

      a {
        text-decoration: none;
      }

      &.active {
        cursor: default;
      }
    }
  }
}
