.entry-alt {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background-color: $bg-color-blue;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-color-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    //min-height: 100vw * 596/1366;
    min-height: 43.2rem;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      min-height: 32.4rem;
    }

    @include below($xl) {
      min-height: 28rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      min-height: 21.6rem;
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }
  }

  &__breadcrumbs {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &__title-wrap {
    margin-top: auto;
    padding-top: 7.2rem;

    @include below($xl) {
      padding-top: 4rem;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $text-color-white;
    font: 300 #{$h3-font-size}/#{$h3-line-height} $font-title;
    text-transform: uppercase;

    @include below($hd) {
      font-size: $h3-font-size_md;
      line-height: $h3-line-height_md;
    }

    @include below($xxl) {
      font-size: 8.2rem;
      line-height: 9rem;
    }

    @include below($lg) {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }

    @include below($md) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }
  }

  &__tags {
    $thumb: &;
    //$shade-color: $bg-color-white;
    $shade-color: $bg-color-blue;
    $line-height: 3.2rem;
    $line-height_md: 2rem;

    position: relative;
    margin-top: 3.2rem;
    cursor: default;

    @include margin-x(-#{$layout-page-space-h});

    @include below($xl) {
      @include margin-x(-#{$layout-page-space-h_md});
    }

    @include below($md) {
      @include margin-x(-#{$layout-page-space-h_sm});
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      width: #{$layout-page-space-h};
      content: '';
      pointer-events: none;

      @include below($xl) {
        width: #{$layout-page-space-h_md};
      }

      @include below($md) {
        width: #{$layout-page-space-h_sm};
      }
    }

    &::before {
      left: 0;
      background-image: linear-gradient(to left, rgba($shade-color, 0) 0, $shade-color 80%, $shade-color 100%);
    }

    &::after {
      right: 0;
      background-image: linear-gradient(to right, rgba($shade-color, 0) 0, $shade-color 80%, $shade-color 100%);
    }

    &-frame {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      height: $line-height * 1 + 1.2 + 1;
      overflow: hidden;
      white-space: nowrap;

      @include below($hd) {
        height: $line-height_md * 1 + 1.2;
      }

      .touchevents & {
        overflow-x: auto;
      }

      .no-touchevents #{$thumb}:hover & {
        overflow-x: auto;
      }

      .no-touchevents &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      .no-touchevents &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
      }

      .no-touchevents &::-webkit-scrollbar-thumb {
        background-color: $bg-color-white;
        border-radius: 0.4rem;
        outline: none;
      }
    }

    &-holder {
      flex-grow: 1;
      flex-shrink: 0;
      //height: 100%;
      height: $line-height * 1 + 1.2;
      padding: 0 #{$layout-page-space-h};

      @include below($xl) {
        padding: 0 #{$layout-page-space-h_md};
      }

      @include below($md) {
        padding: 0 #{$layout-page-space-h_sm};
      }
    }

    &-nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      height: 100%;
      box-shadow: inset 0 -2px 0 rgba($bg-color-white, 0.5);
    }

    &-item {
      $line-height: 2.4rem;

      position: relative;
      z-index: 1;
      display: block;
      height: 100%;
      margin-right: $layout-page-space-h * 2;
      padding: 0.6rem 0;
      overflow: hidden;
      color: rgba($text-color-white, 0.5);
      font: 300 2.8rem/#{$line-height} $font-button;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: inset 0 -2px 0 transparent;
      transform-origin: center bottom;
      transition: $animation-speed-out;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      @include antialiased;

      @include below($lg) {
        margin-right: 3.6rem;
      }

      @include below($hd) {
        font-size: 1.6rem;
        line-height: $line-height_md;
        letter-spacing: 0.06rem;
      }

      & > div {
        position: relative;
        transition: transform $animation-speed-out;
      }

      &:last-child {
        margin-right: 0;
      }

      &:not(.is-active):hover {
        color: $text-color-white;
        box-shadow: inset 0 -2px 0 $text-color-white;
        transition-duration: $animation-speed;
      }

      &.is-active {
        color: $text-color-white;
        box-shadow: inset 0 -2px 0 $text-color-white;
        cursor: default;
      }
    }
  }
}
