.snippet-discussion {
  $el: &;

  position: relative;
  display: flex;
  min-height: $snippet-min-height;
  overflow: hidden;
  background-color: $bg-color-blue;

  @include below($xl) {
    min-height: $snippet-min-height_md;
  }

  @include below($md) {
    display: block;
  }

  &__caption {
    $width: 34%;

    position: relative;
    flex: 1 0 $width;
    max-width: $width;
    padding: #{$layout-page-space-v} 4.4rem #{$layout-page-space-v} #{$layout-page-space-h};
    overflow: hidden;

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      max-width: $width;
      padding: #{$layout-page-space-h_lg} 4.4rem #{$layout-page-space-v_lg} #{$layout-page-space-h_lg};
    }

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      max-width: none;
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.45;
    }
  }

  &__content {
    $width: 66%;

    position: relative;
    display: flex;
    flex: 1 0 $width;
    flex-direction: column;
    justify-content: flex-end;
    max-width: $width;
    padding: #{$layout-page-space-v} #{$layout-page-space-h} #{$layout-page-space-v} 4.4rem;
    overflow: hidden;
    color: $text-color-white;
    background-color: $bg-color-black;

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      max-width: $width;
      padding: #{$layout-page-space-v_lg} #{$layout-page-space-h_lg} #{$layout-page-space-v_lg} 4.4rem;
    }

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      max-width: none;
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-container {
      width: 100%;
    }

    &-title {
      margin-bottom: 0.8rem;
      font: 300 3.2rem/4rem $font-title;
      letter-spacing: round-float(0.2 / 32 * 1em, 3);
      text-transform: uppercase;

      @include below($md) {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-author {
      $photo-size: 6.4rem;

      width: 100%;
      margin: 2.4rem 0;

      @include clearfix;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-photo {
        position: relative;
        float: left;
        width: $photo-size;
        height: $photo-size;
        overflow: hidden;
        background-color: $bg-color-blue;
        border-radius: $photo-size;

        &-img {
          z-index: 1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &-name {
        margin-left: $photo-size + 1.6rem;
        font: 300 2.4rem/3.2rem $font-title;
        letter-spacing: 0.006rem;
        text-transform: uppercase;
      }

      &-post {
        margin-left: $photo-size + 1.6rem;
        font: 2rem/2.8rem $font;
        letter-spacing: 0.02em;
      }
    }

    &-text {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
