.nav {
  display: block;
  font: bold 2.4rem/1.29 $font-button;
  letter-spacing: 0.007em;
  transition: opacity $animation-speed;

  @include below($lg) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 -2.4rem;

    @include below($hd) {
      justify-content: space-between;
    }

    @include below($lg) {
      display: block;
      margin-right: 0;
      margin-left: 0;
      box-shadow: 0 -1px 0 $line-color-blue;
    }
  }

  &__li {
    $li: &;

    position: relative;
    transition: {
      property: filter;
      duration: $animation-speed * 1.5;
    };

    @include below($lg) {
      box-shadow: 0 1px 0 $line-color-blue;
    }

    &.hover {
      filter: drop-shadow(0 2rem 6rem rgba(black, 0.2));

      @include below($lg) {
        filter: none;
      }
    }

    &-el {
      $el: &;

      position: relative;
      display: flex;
      align-items: center;
      height: $header-height-bottom;
      padding: 0 2.4rem;
      color: $text-color-white;
      user-select: none;

      @include below($lg) {
        height: auto;
        padding: 1.2rem 2rem;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        background-color: $bg-color-white;
        transform: scaleY(0);
        transform-origin: right bottom;
        transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
        content: "";
        will-change: transform;
      }

      @at-root {
        #{$li}.has-drop & {
          padding-right: #{2.4rem + 4rem - 0.2rem - 1.2rem};

          @include below($hd) {
            padding-right: #{2.4rem + 4rem - 0.6rem - 1.2rem};
          }
        }

        // if link
        a#{$el} {
          text-decoration: none;
          transition: color $animation-speed;

          // js hover - class .hover
          #{$li}.hover & {
            color: $link-color;
            transition-duration: $animation-speed;

            &::before {
              transform: scaleY(1);
              transition-duration: $animation-speed;
            }
          }
        }
      }
    }

    &-arrow {
      $size: 4rem;

      position: absolute;
      top: 50%;
      right: 1.2rem; // Выровнять по правому краю пункта стрелку
      width: $size;
      height: $size;
      margin-top: -#{$size / 2 - 0.3};
      font-size: 0;
      line-height: 0;
      transition: {
        property: transform;
        duration: $animation-speed;
      };
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      @include below($hd) {
        margin-top: -#{$size / 2 - 0.2};
      }

      @include below($lg) {
        top: 0;
        right: 0;
        margin: 0.4rem 0 0;
      }

      &::before,
      &::after {
        $size: 3.2rem;

        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: $size;
        height: $size;
        margin: -#{round-float($size / 2, 1)};
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: {
          property: opacity;
          duration: $animation-speed;
        };
        content: "";

        @include below($hd) {
          $size: 2.4rem;

          width: $size;
          height: $size;
          margin: -#{$size / 2};
        }
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.68 11.1064L16.8 17.2264L22.92 11.1064L24.8 12.9998L16.8 20.9998L8.80005 12.9998L10.68 11.1064Z' fill='white'/%3E%3C/svg%3E%0A");
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.68 11.1064L16.8 17.2264L22.92 11.1064L24.8 12.9998L16.8 20.9998L8.80005 12.9998L10.68 11.1064Z' fill='%23858585'/%3E%3C/svg%3E%0A");
        opacity: 0;
      }

      @at-root {
        #{$li}:not(.has-drop) & {
          display: none;
        }

        // js hover - class .hover
        #{$li}.hover & {
          transform: rotate(0.5turn);

          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }

        // for mobile
        #{$li}.is-open & {
          @include below($lg) {
            margin-top: 0.6rem;
            transform: rotate(0.5turn);
          }
        }
      }
    }

    &-drop {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%; // Компенсация отступа белой плашки под стрелкой
      padding: 0;
      transform: scaleY(0.92);
      transform-origin: top center;
      backface-visibility: hidden;
      visibility: hidden;
      opacity: 0;
      transition: {
        property: opacity, transform, visibility;
        duration: $animation-speed * 1.5;
      };
      pointer-events: none;
      will-change: opacity, transform;

      #{$li}:last-child & {
        right: 0;
        left: auto;
      }

      @include above($lg) {
        display: block !important; // На десктопе перебивать установленный скриптом display: none;
      }

      @include below($lg) {
        position: relative;
        top: auto;
        left: auto;
        display: none;
        min-width: 0;
        margin: 0 -3.2rem 0 0; // Компенсация отступа под стрелку у родителя
        padding: 0;
        transform: none;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }

      @at-root {
        #{$li}.hover & {
          transform: scaleY(1);
          visibility: visible;
          opacity: 1;
          transition-duration: $animation-speed;
          pointer-events: auto;
        }
      }

      @at-root {
        #{$li}.current & {
          display: block;
        }
      }
    }
  }
}

.sub-nav {
  padding: 0;
  font-weight: 300;
  background-color: white;

  @include below($lg) {
    padding: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    background: none;
    box-shadow: none;
  }

  &__list {
    display: block;

    @include below($lg) {
      box-shadow: 0 -1px 0 $line-color-blue;
    }
  }

  &__li {
    $li: &;

    position: relative;
    padding: 0 2.4rem;

    @include below($lg) {
      box-shadow: 0 1px 0 $line-color-blue;
    }

    &.has-drop {
      @include below($lg) {
        padding-right: 3.2rem;
      }
    }

    &-el {
      $el: &;

      position: relative;
      display: block;
      padding: 1.6rem 0;
      color: $text-color-black;
      white-space: nowrap;
      user-select: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px solid $line-color-grey-divider;
        content: "";
      }

      @include below($lg) {
        padding: 0.8rem 2rem 0.8rem 3.6rem;
        color: rgba($text-color-white, 0.85);
      }

      @at-root {
        #{$li}:first-child & {
          &::before {
            content: none;
          }
        }

        #{$li}.has-drop & {
          padding-right: 1rem;
        }

        // if link
        a#{$el} {
          text-decoration: none;
          transition: color $animation-speed;

          // js hover - class .hover
          //#{$li}.hover & {
          &:hover {
            color: $link-color;
          }
        }
      }
    }

    &-arrow {
      $size: 3.2rem;

      position: absolute;
      top: 1.7rem;
      right: 0;
      width: $size;
      height: $size;
      font-size: 0;
      line-height: 0;
      transform: rotate(-0.25turn);
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      @include below($lg) {
        $size: 4rem;

        top: 0;
        right: 0;
        width: $size;
        height: $size;
        transform: rotate(0);
      }

      @at-root {
        // js hover - class .hover
        #{$li}.hover & {
          transform: rotate(0.25turn);
        }

        // for mobile
        #{$li}.is-open & {
          @include below($lg) {
            margin-top: 0.2rem;
            transform: rotate(0.5turn);
          }
        }
      }

      &::before {
        $size: 1.6rem;

        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: $size;
        height: $size;
        margin: -#{round-float($size / 2, 1)};
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuOTk5OCAxMy4xNzIyTDE2Ljk0OTggOC4yMjIxN0wxOC4zNjM4IDkuNjM2MTdMMTEuOTk5OCAxNi4wMDAyTDUuNjM1NzcgOS42MzYxN0w3LjA0OTc3IDguMjIyMTdMMTEuOTk5OCAxMy4xNzIyWiIvPjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: "";

        @include below($lg) {
          $size: 2.4rem;

          width: $size;
          height: $size;
          margin: -#{round-float($size / 2, 1)};
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88 14.1064L16 20.2264L22.12 14.1064L24 15.9998L16 23.9998L8 15.9998L9.88 14.1064Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &-drop {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 20rem;
      transform: translateX(-0.2rem);
      opacity: 0;
      transition: opacity $animation-speed, transform $animation-speed;
      pointer-events: none;

      @include above($lg) {
        display: block !important; // На десктопе перебивать установленный скриптом display: none;
      }

      @include below($lg) {
        position: relative;
        top: auto;
        left: auto;
        display: none;
        min-width: 0;
        margin-right: -3.2rem;
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
      }

      @at-root {
        #{$li}.hover & {
          transform: translateX(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      @at-root {
        #{$li}.current & {
          display: block;
        }
      }
    }
  }
}

.sub-sub-nav {
  padding: 0;
  font-weight: 300;
  background-color: white;

  @include below($lg) {
    padding: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    background: none;
    box-shadow: none;
  }

  &__list {
    display: block;

    @include below($lg) {
      box-shadow: 0 -1px 0 $line-color-blue;
    }
  }

  &__li {
    $li: &;

    position: relative;
    padding: 0 2.4rem;

    @include below($lg) {
      box-shadow: 0 1px 0 $line-color-blue;
    }

    &.has-drop {
      @include below($lg) {
        padding-right: 3.2rem;
      }
    }

    &-el {
      $el: &;

      position: relative;
      display: block;
      padding: 1.6rem 0;
      color: $text-color-black;
      white-space: nowrap;
      user-select: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px solid $line-color-grey-divider;
        content: "";
      }

      @include below($lg) {
        padding: 0.8rem 2rem 0.8rem 3.6rem;
        color: rgba($text-color-white, 0.85);
      }

      @at-root {
        #{$li}:first-child & {
          &::before {
            content: none;
          }
        }

        #{$li}.has-drop & {
          padding-right: 1rem;
        }

        // if link
        a#{$el} {
          text-decoration: none;
          transition: color $animation-speed;

          // js hover - class .hover
          //#{$li}.hover & {
          &:hover {
            color: $link-color;
          }
        }
      }
    }

    &-arrow {
      $size: 3.2rem;

      position: absolute;
      top: 2rem;
      right: 0;
      width: $size;
      height: $size;
      font-size: 0;
      line-height: 0;
      transform: rotate(-0.25turn);
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      @include below($lg) {
        $size: 4rem;

        top: 0;
        right: 0;
        width: $size;
        height: $size;
        transform: rotate(0);
      }

      @at-root {
        // js hover - class .hover
        #{$li}.hover & {
          transform: rotate(0.25turn);
        }

        // for mobile
        #{$li}.is-open & {
          @include below($lg) {
            margin-top: 0.2rem;
            transform: rotate(0.5turn);
          }
        }
      }

      &::before {
        $size: 1.6rem;

        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: $size;
        height: $size;
        margin: -#{round-float($size / 2, 1)};
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuOTk5OCAxMy4xNzIyTDE2Ljk0OTggOC4yMjIxN0wxOC4zNjM4IDkuNjM2MTdMMTEuOTk5OCAxNi4wMDAyTDUuNjM1NzcgOS42MzYxN0w3LjA0OTc3IDguMjIyMTdMMTEuOTk5OCAxMy4xNzIyWiIvPjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: "";

        @include below($lg) {
          $size: 2.4rem;

          width: $size;
          height: $size;
          margin: -#{round-float($size / 2, 1)};
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88 14.1064L16 20.2264L22.12 14.1064L24 15.9998L16 23.9998L8 15.9998L9.88 14.1064Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &-drop {
      position: absolute;
      top: -1.5rem;
      left: 100%;
      min-width: 20rem;
      margin: 0 -0.5rem;
      transform: translateX(-0.2rem);
      opacity: 0;
      transition: opacity $animation-speed, transform $animation-speed;
      pointer-events: none;

      @include above($lg) {
        display: block !important; // На десктопе перебивать установленный скриптом display: none;
      }

      @include below($lg) {
        position: relative;
        top: auto;
        left: auto;
        display: none;
        min-width: 0;
        margin-right: -3.2rem;
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
      }

      @at-root {
        #{$li}.hover & {
          transform: translateX(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      @at-root {
        #{$li}.current & {
          display: block;
        }
      }
    }
  }
}
