.snippet-article-dark {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-inner {
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      @include below($md) {
        background-position: 80% center;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 105rem;
      max-width: 60%;
      height: 100%;
      background: linear-gradient(to right, #0d1623 0%, rgba(13, 22, 35, 0) 100%);
      content: "";
    }
  }

  &__content {
    position: relative;
    min-height: $snippet-min-height;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      padding: #{$layout-page-space-v_lg} #{$layout-page-space-h_lg};
    }

    @include below($xl) {
      min-height: $snippet-min-height_md;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }
  }

  &__title {
    margin-bottom: 0.6em;
    color: $text-color-white;
    font: 300 #{$h0-fz}/#{$h0-lh} $font-title;
    text-transform: uppercase;

    @include below($lg) {
      font-size: $h0-fz_sm;
      line-height: $h0-lh_sm;
    }
  }

  &__text {
    max-width: 50%;
    color: $text-color-white;
    font-weight: 300;

    @include below($hd) {
      max-width: 40%;
    }

    @include below($lg) {
      max-width: none;
    }
  }

  &__footer {
    margin-top: 3.6rem;
  }
}
