@keyframes fadeInDown {
  from {
    transform: translate3d(0, -33%, 0) scaleY(1.15);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-down {
  @include above($xl) {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    will-change: opacity, transform;

    .no-js &,
    .after-ready & {
      animation-name: fadeInDown;
    }
  }
}
