@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: {
    duration: $fp-animation-speed * 2;
    timing-function: cubic-bezier(0.35, 0.84, 0.42, 0.99);
    fill-mode: both;
  };
  will-change: opacity, transform;

  //.animation-start &,
  //.animation-end & {
  .after-ready & {
    animation-name: fadeIn;
  }

  @for $i from 0 through 10 {
    //.animation-start &.dl-#{$i},
    //.animation-end &.dl-#{$i} {
    .after-ready &.dl-#{$i} {
      animation-delay: $animation-delay-start * $i * 0.5;
    }
  }
}
