@keyframes lineScaleRightIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.line-scale-right-in {
  transform: scaleX(0);
  animation: {
    duration: $animation-duration;
    timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); // cubic-bezier(0.35, 0.84, 0.42, 0.99)
    fill-mode: both;
  };
  transform-origin: top right;
  will-change: transform;

  .no-js &,
  .after-ready & {
    animation-name: lineScaleRightIn;
  }
}
