@keyframes pulseRotate {
  from {
    transform: rotate(0deg) scale(0.7);
  }

  50% {
    transform: rotate(180deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(0.7);
  }
}

.pulse-rotate {
  animation: pulseRotate 2s both infinite linear;
}
