@keyframes scaleIn {
  from {
    transform: scale(1.4);
  }

  to {
    transform: scale(1);
  }
}

.scale-in {
  $initDelay: 0.5s;

  animation: {
    duration: $fp-animation-speed * 2;
    timing-function: cubic-bezier(0.35, 0.84, 0.42, 0.99);
    fill-mode: both;
  };
  will-change: opacity, transform;

  .animation-start &,
  .animation-end & {
    animation-name: scaleIn;
  }

  @for $i from 0 through 10 {
    .animation-start &.delay-#{$i},
    .animation-end &.delay-#{$i} {
      animation-delay: $initDelay * $i * 0.5;
    }
  }
}
