@keyframes slideFadeRightIn {
  from {
    //transform: translateX(100%) skewX(35deg);
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    //transform: translateX(0) skewX(0deg);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-fade-right-in {
  //transform: translateX(100%) skewX(35deg);
  transform: translateX(100%);
  opacity: 0;
  animation: {
    duration: $animation-duration;
    timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); // cubic-bezier(0.35, 0.84, 0.42, 0.99)
    fill-mode: both;
  };
  will-change: opacity, transform;

  .no-js &,
  .after-ready & {
    animation-name: slideFadeRightIn;
  }
}
