.ts {
  $ts: &;

  //margin: 0 0 -1rem;
  //padding: 0 0 1rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;

  &_db {
    display: block;
  }

  &__i {
    $initDelay: 0.8s;

    position: relative;
    display: block;
    transform: translateY(120%);
    transition: {
      property: transform, opacity;
      delay: $initDelay;
      duration: 1.2s;
      //timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
      timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    will-change: transform, opacity;

    @include antialiased;

    .no-js &,
    .after-ready & {
      transform: translateY(0);
    }

    @for $i from 0 through 10 {
      @at-root {
        //.page-loaded .after-ready #{$ts}:nth-child(#{$i}) &,
        .after-ready #{$ts}_dl-#{$i} & {
          transition-delay: $initDelay * $i * 0.25;
        }
      }
    }
  }
}
