@keyframes textSlideIn {
  from {
    transform: translateY(120%) skewY(8deg);
  }

  to {
    transform: translateY(0) skewY(0deg);
  }
}

.ts {
  $ts: &;

  overflow: hidden;

  @at-root {
    span#{$ts} {
      display: inline-flex;
    }
  }

  &__i {
    position: relative;
    display: block;
    transform: translateY(120%) skewY(8deg);
    animation: {
      duration: $animation-duration;
      timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); // cubic-bezier(0.35, 0.84, 0.42, 0.99)
      fill-mode: both;
    };
    transform-origin: top left;
    will-change: transform;

    @include antialiased;

    .no-js &,
    .after-ready & {
      animation-name: textSlideIn;
    }
  }
}
