.contacts-form {
  &__main {
    margin-bottom: 1px;
    background-color: $bg-color-blue;

    &-item {
      $item: &;

      position: relative;
      z-index: 1;
      padding-bottom: 1px;

      &_has-input,
      &_logo {
        padding: #{$layout-page-space-v} #{$layout-page-space-h};

        @include below($md) {
          padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
        }

        @include below($xl) {
          padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
        }
      }
    }

    &-input {
      $input: &;

      display: flex;
      align-items: center;

      &-label {
        $width: 11.4rem;

        flex: 1 0 $width;
        max-width: $width;
        padding-right: 2.4rem;
        color: $text-color-white;
        font-size: 1.6rem;
        line-height: 2rem;

        @include below($hd) {
          $width: 8.4rem;

          flex: 1 0 $width;
          max-width: $width;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }

        label {
          margin: 0;
          color: inherit;
          font: inherit;
        }
      }

      &-field {
        $width: calc(100% - 11.4rem);

        position: relative;
        flex: 1 0 $width;
        max-width: $width;

        @include below($hd) {
          $width: calc(100% - 8.4rem);

          flex: 1 0 $width;
          max-width: $width;
        }

        input {
          width: 100%;
          padding: 0 0 0.7rem;
          color: $text-color-white;
          font-size: 2.4rem;
          font-family: inherit;
          line-height: 3.2rem;
          letter-spacing: round-float(0.4 / 24 * 1em, 3);
          background: none;
          border: none;
          border-bottom: 1px solid $line-color-blue;
          border-radius: 0;

          @include below($hd) {
            padding-bottom: 0.2rem;
            font-size: 2rem;
            line-height: 2.8rem;
          }

          &::placeholder {
            color: rgba($text-color-white, 0.5);
          }

          &:focus,
          &.is-focused,
          &.is-filled {
            border-bottom-color: $line-color-grey-divider;

            &::placeholder {
              opacity: 0;
            }
          }

          #{$input}.error &,
          &.error {
            border-bottom-color: $line-color-grey-divider;
          }
        }

        &-error {
          position: absolute;
          left: 0;
          width: 100%;
          margin: 0.2rem 0;
          color: $text-color-white;
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: #{round-float(0.4 / 12, 3) * 1em};

          @include below($hd) {
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}
