.contacts-form {
  &__main {
    background-color: $bg-color-blue;

    &-item {
      $item: &;

      position: relative;
      z-index: 1;
      padding-bottom: 1px;

      &_has-input {
        padding: #{$layout-page-space-v} #{$layout-page-space-h};

        @include below($md) {
          padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
        }

        @include below($xl) {
          padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
        }
      }

      &-divider {
        position: absolute;
        right: $layout-page-space-h;
        bottom: 0;
        left: $layout-page-space-h;
        z-index: -1;
        font-size: 0;
        line-height: 0;
        border-top: 1px solid $line-color-blue;

        #{$item}:last-child & {
          display: none;
        }

        @include below($xl) {
          right: #{$layout-page-space-h_md};
          left: #{$layout-page-space-h_md};
        }

        @include below($md) {
          right: #{$layout-page-space-h_sm};
          left: #{$layout-page-space-h_sm};
        }
      }
    }

    &-input {
      display: flex;
      align-items: center;

      &-label {
        $width: 11.4rem;

        flex: 1 0 $width;
        max-width: $width;
        padding-right: 2.4rem;
        color: $text-color-white;
        font-size: 1.6rem;
        line-height: 2rem;

        @include below($hd) {
          $width: 8.4rem;

          flex: 1 0 $width;
          max-width: $width;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }

        label {
          margin: 0;
          color: inherit;
          font: inherit;
        }
      }

      &-field {
        $width: calc(100% - 11.4rem);

        flex: 1 0 $width;
        max-width: $width;

        @include below($hd) {
          $width: calc(100% - 8.4rem);

          flex: 1 0 $width;
          max-width: $width;
        }

        input {
          width: 100%;
          padding: 0 0 0.7rem;
          color: $text-color-white;
          font-size: 2.4rem;
          font-family: inherit;
          line-height: 3.2rem;
          letter-spacing: round-float(0.4 / 24 * 1em, 3);
          background: none;
          border: none;
          border-bottom: 1px solid $line-color-blue;
          border-radius: 0;

          @include below($hd) {
            padding-bottom: 0.2rem;
            font-size: 2rem;
            line-height: 2.8rem;
          }

          &::placeholder {
            color: rgba($text-color-white, 0.5);
          }

          &:focus {
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
