<section class="section-definitions@@if(context.mods){@@for (var i = 0; i < mods.length; i++){ section-definitions_`+mods[i]+`}} layout-content" data-aos="fade" id="@@id">
  @@for (var i = 0; i < items.length; i++) {
  <div class="section-definitions__row">
    <h3 class="section-definitions__title" data-aos="fade-up">
      `+items[i].title+`
    </h3>
    <div class="section-definitions__description" data-aos="fade-up" data-aos-delay="50">
      `+items[i].description+`
      @@if(context.image) {
      <figure class="section-definitions__figure">
        <img class="section-definitions__figure-img js-lazy-load" src="assets/images/empty.png" data-src='@@image' alt='image description'>
        <figcaption class="section-definitions__figure-caption">@@imageCaption</figcaption>
      </figure>}
    </div>
  </div>
  }
</section>
