.section-definitions {
  $el: &;

  position: relative;
  padding: #{$layout-page-space-v} #{$layout-page-space-h};
  overflow: hidden;
  background-color: $bg-color-white;

  @include below($xl) {
    padding: #{$layout-page-space-v_md * 2} #{$layout-page-space-h_md};
  }

  @include below($md) {
    padding: #{$layout-page-space-v_sm * 2} #{$layout-page-space-h_sm};
  }

  &_has-top-space {
    padding-top: #{$layout-page-space-v};

    @include below($xl) {
      padding-top: #{$layout-page-space-v_md * 2};
    }

    @include below($md) {
      padding-top: #{$layout-page-space-v_sm * 2};
    }
  }

  & + .section-definitions {
    padding-top: 0;
  }

  // If has breadcrumbs before
  .breadcrumbs-only + & {
    padding-top: 0;
  }

  &__row {
    //display: flex;
    //align-items: flex-start;
    max-width: 120rem;
    //margin-bottom: #{$layout-page-space-v};
    margin: 0 auto #{$layout-page-space-v};

    @include below($lg) {
      margin-bottom: #{$layout-page-space-v_md};
    }

    @include below($md) {
      //display: block;
      margin-bottom: #{$layout-page-space-v_sm};
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    //$width: 34%;

    //flex: 1 0 $width;
    //max-width: $width;
    //padding-right: 2.8rem;
    margin-bottom: 2.8rem;
    color: $text-color-black;
    font: 300 #{$h4-font-size}/#{$h4-line-height} $font-title;
    text-transform: uppercase;

    @include below($hd) {
      font-size: $h4-font-size_md;
      line-height: $h4-line-height_md;
    }

    @include below($xxl) {
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    @include below($xl) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    @include below($md) {
      //max-width: none;
      margin-bottom: #{$layout-page-space-v_sm};
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      display: block;
    }
  }

  &__description {
    $content: &;

    color: $text-color-black;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: 0.02em;

    @include below($lg) {
      font-size: $fz_sm;
      line-height: $lh_sm;
      letter-spacing: normal;
    }

    p,
    .p {
      margin: $bottom-space 0;
      text-align: justify;

      @include below($lg) {
        margin: $bottom-space_sm 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2,
    .h2 {
      margin: #{round-float($bottom-space * 1.5, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
      color: $text-color-black;
      font: 300 #{$h2-fz}/#{$h2-lh} $font-title;

      //@include below($hd) {
      //  font-size: $h2-fz_md;
      //  line-height: $h2-lh_md;
      //}

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.5, 1)} 0 #{round-float($bottom-space_sm * 1.25, 1)};
        font-size: $h2-fz_sm;
        line-height: $h2-lh_sm;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3,
    .h3 {
      margin: #{round-float($bottom-space * 1.5, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
      color: $text-color-black;
      font: 300 #{$h3-fz}/#{$h3-lh} $font-title;

      //@include below($hd) {
      //  font-size: $h3-fz_md;
      //  line-height: $h3-lh_md;
      //}

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.5, 1)} 0 #{round-float($bottom-space_sm * 1.25, 1)};
        font-size: $h3-fz_sm;
        line-height: $h3-lh_sm;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4,
    .h4 {
      margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space;
      color: $text-color-black;
      font: 300 #{$h4-fz}/#{$h4-lh} $font-title;

      //@include below($hd) {
      //  font-size: $h4-fz_md;
      //  line-height: $h4-lh_md;
      //}

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.5, 1)} 0 $bottom-space_sm;
        font-size: $h4-fz_sm;
        line-height: $h4-lh_sm;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h5,
    .h5 {
      margin: #{round-float($bottom-space * 1.2, 1)} 0 $bottom-space;
      color: $text-color-black;
      font: 300 #{$h5-fz}/#{$h5-lh} $font-title;

      //@include below($hd) {
      //  font-size: $h5-fz_md;
      //  line-height: $h5-lh_md;
      //}

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.2, 1)} 0 $bottom-space_sm;
        font-size: $h5-fz_sm;
        line-height: $h5-lh_sm;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h6,
    .h6 {
      margin: #{round-float($bottom-space * 1.2, 1)} 0 $bottom-space;
      color: $text-color-black;
      font: 300 #{$h6-fz}/#{$h6-lh} $font-title;
      text-transform: uppercase;

      //@include below($hd) {
      //  font-size: $h6-fz_md;
      //  line-height: $h6-lh_md;
      //}

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.2, 1)} 0 $bottom-space_sm;
        font-size: $h5-fz_sm;
        line-height: $h5-lh_sm;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      text-align: justify;

      a:not([class*=button-]) {
        color: inherit;
        text-decoration: none;

        &:visited {
          color: inherit;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // Blockquote
    blockquote {
      position: relative;
      display: block;
      width: 72rem;
      max-width: 80%;
      margin: #{$bottom-space} auto;
      padding: 0;

      @include below($lg) {
        max-width: calc(100% - 8.8rem);
      }

      @include below($sm) {
        max-width: calc(100% - 4.4rem);
      }

      img {
        display: block;
        width: 12rem;
        max-width: 100%;
        height: 12rem;
        margin: 0 auto #{$bottom-space};
        border-radius: 6rem;

        @include below($lg) {
          margin-bottom: #{$bottom-space_sm};
        }
      }

      q {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 0 #{$bottom-space / 2};
        color: $text-color-blue;
        font-weight: normal;
        font-size: 1.2em;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;

        @include below($lg) {
          padding: 0 0 #{$bottom-space_sm / 2};
        }

        &::before {
          content: "«";
        }

        &::after {
          content: "»";
        }
      }

      cite {
        display: block;
        color: $text-color-grey;
        font-size: inherit;
        font-style: normal;
        line-height: inherit;
        text-align: center;
      }
    }

    // List
    ul {
      $list-space: 3.2rem;

      //margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
      margin: #{$bottom-space} 0;
      padding: 0;
      text-align: justify;
      list-style: none;

      @include below($lg) {
        //margin: #{round-float($bottom-space_sm * 2.25, 1)} 0 #{round-float($bottom-space_sm * 1.25, 1)};
        margin: #{$bottom-space_sm} 0;
      }

      & > li {
        position: relative;
        margin: #{$bottom-space / 2} 0 0;
        padding-left: $list-space;

        @include below($lg) {
          margin: #{$bottom-space_sm / 2} 0 0;
        }

        &:first-child {
          margin-top: 0;
        }

        &::before {
          display: block;
          float: left;
          width: 0.8rem;
          height: 0.8rem;
          margin: 0.5em 0 -0.5em -#{$list-space};
          background-color: currentColor;
          border-radius: 0.8rem;
          content: "";
        }
      }
    }

    ol {
      $list-space: 3.2rem;

      //margin: #{round-float($bottom-space * 2.25, 1)} 0 #{round-float($bottom-space * 1.25, 1)};
      margin: #{$bottom-space} 0;
      padding: 0;
      list-style: none;
      counter-reset: section;

      @include below($lg) {
        //margin: #{round-float($bottom-space_sm * 2.25, 1)} 0 #{round-float($bottom-space_sm * 1.25, 1)};
        margin: #{$bottom-space_sm} 0;
      }

      & > li {
        position: relative;
        margin: #{$bottom-space / 2} 0 0;
        padding-left: $list-space;
        counter-increment: section;

        @include below($lg) {
          margin: #{$bottom-space_sm / 2} 0 0;
        }

        &:first-child {
          margin-top: 0;
        }

        &::before {
          position: relative;
          display: inline-block;
          min-width: $list-space;
          margin-left: -#{$list-space};
          padding: 0 4px 0 0;
          text-align: left;
          content: counter(section) ".";
        }
      }
    }

    ul,
    ol {
      ul,
      ol {
        margin: #{$bottom-space / 2} 0;

        @include below($lg) {
          margin: #{$bottom-space_sm / 2} 0;
        }

        &:first-child {
          margin: #{$bottom-space / 2} 0;

          @include below($lg) {
            margin: #{$bottom-space_sm / 2} 0;
          }
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Изображение
    // ----------------------------------------------------
    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
      border: none;

      table & {
        max-width: none;
      }
    }

    // Картинка с подписью
    // ----------------------------------------------------
    figure {
      $figure: &;

      display: block;
      margin: #{round-float($bottom-space * 1.2, 1)} 0 #{$bottom-space};
      text-align: center;

      @include below($lg) {
        margin: #{round-float($bottom-space_sm * 1.2, 1)} 0 #{$bottom-space_sm};
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto #{$bottom-space / 2};
      }

      figcaption {
        display: block;
        margin-top: #{$bottom-space / 2};
        color: inherit;
        font-size: $fz-small;
        line-height: $lh-small;
        text-align: center;
        opacity: 0.5;

        @include below($lg) {
          margin-top: #{$bottom-space_sm / 2};
          font-size: $fz-small_sm;
          line-height: $lh-small_sm;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }

    & > p,
    & > .p {
      a:not([class*=button-]) {
        color: $link-color;
        text-decoration: none;
        word-wrap: break-word;
        -webkit-tap-highlight-color: transparent;

        &:visited {
          color: $visited-color;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      & > img,
      & > figure {
        display: block;
        clear: both;
        max-width: 100%;
        height: auto;
        margin: #{round-float($bottom-space * 1.2, 1)} auto #{round-float($bottom-space * 1.25, 1)};
        text-align: center;

        @include below($lg) {
          margin-top: #{round-float($bottom-space_sm * 1.2, 1)};
          margin-bottom: #{round-float($bottom-space_sm * 1.5, 1)};
        }

        &[align="left"],
        &.img-align-left {
          float: left;
          clear: left;
          max-width: 50%;
          margin-top: 0;
          margin-right: 4rem;
          text-align: left;

          &.img-third {
            max-width: 33.33%;

            @include below($md) {
              max-width: 50%;
            }

            @include below($sm) {
              max-width: 100%;
            }
          }

          &.img-two-thirds {
            max-width: 66.66%;

            @include below($lg) {
              max-width: 50%;
            }

            @include below($sm) {
              max-width: 100%;
            }
          }

          @include below($sm) {
            float: none;
            max-width: 100%;
            margin-right: auto;
            text-align: center;
          }
        }

        &[align="right"],
        &.img-align-right {
          float: right;
          clear: right;
          max-width: 50%;
          margin-top: 0;
          margin-left: 4rem;
          text-align: right;

          &.img-third {
            max-width: 33.33%;

            @include below($md) {
              max-width: 50%;
            }

            @include below($sm) {
              max-width: 100%;
            }
          }

          &.img-two-thirds {
            max-width: 66.66%;

            @include below($lg) {
              max-width: 50%;
            }

            @include below($sm) {
              max-width: 100%;
            }
          }

          @include below($sm) {
            float: none;
            max-width: 100%;
            margin-left: auto;
            text-align: center;
          }
        }
      }
    }

    .video {
      position: relative;
      display: block;
      margin: #{round-float($bottom-space * 1.2, 1)} 0 #{round-float($bottom-space * 1.5, 1)};

      @include below($lg) {
        margin-top: #{round-float($bottom-space_sm * 1.2, 1)};
        margin-bottom: #{round-float($bottom-space_sm * 1.5, 1)};
      }

      &::before {
        display: block;
        content: "";

        @include ratio(16, 9);
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // Текст в несколько колонок
    // ----------------------------------------------------
    .columnize,
    .columnize--3,
    .columnize--4,
    .columnize--5 {
      margin-bottom: $bottom-space;
      font-size: 0.9em;
      column-count: 2;
      column-gap: 2em;

      @include below($md) {
        column-count: 1;
      }
    }

    .columnize--3 {
      font-size: 0.85em;
      column-count: 3;

      @include below($md) {
        font-size: 1em;
        column-count: 1;
      }
    }

    .columnize--4 {
      font-size: 0.8em;
      column-count: 4;

      @include below($md) {
        font-size: 1em;
        column-count: 1;
      }
    }

    .columnize--5 {
      font-size: 0.75em;
      column-count: 4;

      @include below($md) {
        font-size: 1em;
        column-count: 1;
      }
    }

    .accent-text {
      position: relative;
      font-weight: normal;
      font-size: $fz-large;
      line-height: $lh-large;

      @include below($lg) {
        font-size: $fz-large_sm;
        line-height: $lh-large_sm;
      }
    }

    code {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      font-family: monospace;
      text-transform: initial;
      background-color: #f0f0f0;
      border-radius: 4px;

      &::before,
      &::after {
        letter-spacing: -0.2em;
        content: "\00a0";
      }
    }

    .snippet {
      margin-top: #{round-float($bottom-space * 1.2, 1)};
      margin-bottom: #{round-float($bottom-space * 1.5, 1)};

      @include below($lg) {
        margin-top: #{round-float($bottom-space_sm * 1.2, 1)};
        margin-bottom: #{round-float($bottom-space_sm * 1.5, 1)};
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .article-meta + * {
      margin-top: 0;
    }
  }

  &__figure {
    $figure: &;

    display: block;
    margin-bottom: 3.4rem;

    @include below($hd) {
      margin-bottom: 2.8rem;
    }

    &_image-left,
    &_image-left-small {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      display: block;
      max-width: 100%;
      margin-bottom: 0.8rem;

      &.loaded {
        width: 100%;
        height: auto;
      }

      #{$figure}_image-left & {
        $width: 50%;

        flex: 1 0 $width;
        width: $width;
        margin: 0;
        object-fit: cover;
      }

      #{$figure}_image-left-small & {
        $width: 34%;

        flex: 1 0 $width;
        width: $width;
        margin: 0;
        object-fit: cover;
      }
    }

    &-caption {
      display: block;
      color: $text-color-black;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.025em;
      opacity: 0.5;

      @include below($md) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }

      #{$figure}_image-left & {
        $width: 50%;

        display: flex;
        flex: 1 0 $width;
        align-items: center;
        justify-content: center;
        width: $width;
        padding: #{$layout-page-space-v} #{$layout-page-space-h};
        overflow: hidden;
        color: $text-color-white;
        font: 500 3.2rem/4rem $font-title;
        letter-spacing: #{floor-float(0.2 / 32, 1) * 1em};
        text-align: center;
        text-transform: uppercase;
        background-color: $bg-color-blue;
        opacity: 1;

        @include below($hd) {
          font-size: 3.2rem;
          line-height: 4rem;
        }

        @include below($xxl) {
          font-size: 2.8rem;
          line-height: 3.6rem;
        }

        @include below($xl) {
          padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
          font-size: 2.4rem;
          line-height: 3.2rem;
        }

        @include below($md) {
          padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
      }

      #{$figure}_image-left-small & {
        $width: 66%;

        display: flex;
        flex: 1 0 $width;
        align-items: center;
        justify-content: center;
        width: $width;
        padding: #{$layout-page-space-v} #{$layout-page-space-h};
        overflow: hidden;
        color: $text-color-white;
        font: 500 3.2rem/4rem $font-title;
        letter-spacing: #{floor-float(0.2 / 32, 1) * 1em};
        text-align: center;
        background-color: $bg-color-blue;
        opacity: 1;

        @include below($hd) {
          font-size: 3.2rem;
          line-height: 4rem;
        }

        @include below($xxl) {
          font-size: 2.8rem;
          line-height: 3.6rem;
        }

        @include below($xl) {
          padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
          font-size: 2.4rem;
          line-height: 3.2rem;
        }

        @include below($md) {
          padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
      }
    }
  }

  &__docs {
    display: flex;
    align-items: flex-start;
    font-size: 2.6rem;
    line-height: 3.4rem;

    @include below($hd) {
      font-size: 2rem;
      line-height: 2.8rem;
    }

    &-item {
      margin-right: 2.4rem;
      padding: 0.2rem 0;

      &-link {
        position: relative;
        display: block;
        padding-left: 4rem;
        color: $link-color;
        text-decoration: none;

        @include below($hd) {
          padding-left: 3.2rem;
        }

        &::before {
          position: absolute;
          top: 0.4rem;
          left: 0;
          display: block;
          width: 2.8rem;
          height: 2.8rem;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 2C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2H6ZM6 4H13V9H18V20H6V4ZM8 12V14H16V12H8ZM8 16V18H13V16H8Z' fill='%230870D8'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: "";

          @include below($hd) {
            top: 0.2rem;
            width: 2.4rem;
            height: 2.4rem;
          }
        }

        & > span {
          display: inline-block;
          box-shadow: inset 0 0 0 transparent;
          transition: $animation-speed-out;
        }

        &:hover {
          & > span {
            box-shadow: inset 0 -2px 0 currentColor;
            transition: $animation-speed;
          }
        }
      }
    }
  }
}
