.article-authors {
  margin: 0 0 #{$bottom-space};

  @include below($lg) {
    margin: 0 0 #{$bottom-space_sm};
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -1.2rem -#{$bottom-space};

    @include below($lg) {
      margin-bottom: -#{$bottom-space_sm};
    }
  }

  &__author {
    $photo-size: 6.4rem;

    width: 36rem;
    margin-bottom: $bottom-space;
    padding: 0 1.2rem;

    @include below($lg) {
      margin-bottom: $bottom-space_sm;
    }

    @include below($md) {
      width: 50%;
    }

    @include below($sm) {
      width: 100%;
    }

    &-photo {
      position: relative;
      float: left;
      width: $photo-size;
      height: $photo-size;
      overflow: hidden;
      border-radius: $photo-size;

      &-img {
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &-name {
      margin: 0 0 0.4rem #{$photo-size + 1.6rem};
      font: 300 #{$h5-fz}/#{$h5-lh} $font-title;
      text-transform: uppercase;

      @include below($lg) {
        margin-top: 0.6rem;
        font-size: $h5-fz_sm;
        line-height: $h5-lh_sm;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-post {
      margin-left: $photo-size + 1.6rem;
      font: #{$fz-small}/#{$lh-small} $font;

      @include below($lg) {
        font-size: $fz-small_sm;
        line-height: $lh-small_sm;
      }
    }
  }
}
