$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px; // Мобильное меню
$xl: 1200px; // Ниже этого разрешения, планшетная версия
$xxl: 1366px; // Второе важно разрешение (сделано по дизайну)
$wsx: 1600px;
$hd: 1920px; // Основное разрешение
$wq: 2560px;

$font: "Open Sans", helvetica, arial, sans-serif;
// Regular 400, Regular 400 italic, Bold 700, Bold 700 italic
$font-title: "Rubik", helvetica, arial, sans-serif;
// Regular 400, Medium 500, Bold 700
$font-button: "Open Sans Condensed", helvetica, arial, sans-serif;
// Light 300, Bold 700

// Colors
// ====================================================
$base-color: #0870d8 !default;
// ----------------------------------------------------
$brand-color-grey-1: #494c55 !default;
$brand-color-grey-2: #7f7f7f !default;
$brand-color-grey-3: #d7d7d7 !default;
$brand-color-security: #31548c !default;
$brand-color-medical: #58b1db !default;
$brand-color-science: #59bc09 !default;
$brand-color-innovation: #f5752c !default;
// ----------------------------------------------------
$link-color: #0870d8 !default;
$visited-color: #6908d8 !default;
$focus-color: #1279c5 !default;
$success-color: #28a745 !default;
$error-color: #dc3545 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
// ----------------------------------------------------
$button-color-white: #fff !default;
$button-color-white--hover: #f0f0f0 !default;
$button-color-white--active: #e6e6e6 !default;
$button-color-blue: #0870d8 !default;
$button-color-blue--hover: #0a7ff5 !default;
$button-color-blue--active: #064f99 !default;
$button-color-black: #0d1623 !default;
$button-color-black--hover: #1d2a3d !default;
$button-color-black--active: #000 !default;
// ----------------------------------------------------
$line-color-grey-divider: #d6d6d6 !default;
$line-color-blue: #418fdd !default;
$line-color-black: #313944 !default;
$line-color-grey-slider: #e5e5e5 !default;
// ----------------------------------------------------
$icon-color-white: #fff !default;
$icon-color-blue: #0870d8 !default;
$icon-color-black: #0d1623 !default;
// ----------------------------------------------------
$bg-color-white: #fff !default;
$bg-color-blue: #0870d8 !default;
$bg-color-black: #0d1623 !default;
// ----------------------------------------------------
$text-color-white: #fff !default;
$text-color-blue: #0870d8 !default;
$text-color-light-blue: #51a8ff !default;
$text-color-black: #0d1623 !default;
$text-color-grey: #858585 !default;
// ----------------------------------------------------
$mark-color: $info-color !default;

// Layout page
// ====================================================
// Site's minimal width
$layout-page-min-width: 36rem !default;
// Site's maximal width
$layout-page-max-width: 192rem !default;
// Maximal width wrapper
$layout-site-max-width: 192rem !default;
// Site's spaces
$layout-page-space-h: 4.6rem !default; // > $xl
$layout-page-space-h_md: 2.4rem !default; // < $xl
$layout-page-space-h_sm: 1.6rem !default; // < $md
// ----------------------------------------------------
$layout-page-space-v: 4.4rem !default; // > $hd
$layout-page-space-v_lg: 2.8rem !default; // > $hd
$layout-page-space-v_md: 3.6rem !default; // < $lg
$layout-page-space-v_sm: 1.6rem !default; // < $md

// Layout content
// ====================================================
// Maximal content's width
$layout-content-max-width: 192rem !default;
// Maximal narrow content's width
$layout-narrow-max-width: 136.6rem !default;

// Content
// ====================================================
$bottom-space: 1.6rem;
$bottom-space_mob: 1.4rem;

// Header
// ====================================================
$header-height-top: 6rem !default;
$header-height-bottom: 6rem !default;
$header-height_sm: 4rem !default;

// Animation
// ====================================================
$animation-speed: 0.2s !default;
$animation-speed-out: 0.4s !default;
$fp-animation-speed: 0.5s !default;

$animation-duration: 0.6s !default;
$animation-delay-start: 0.5s !default;
