$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px; // Мобильное меню
$xl: 1200px; // Ниже этого разрешения, планшетная версия
$xxl: 1366px; // Второе важно разрешение (сделано по дизайну)
$wsx: 1600px;
$hd: 1920px; // Основное разрешение
$wq: 2560px;

$font: "Open Sans", helvetica, arial, sans-serif;
// Light 300; Light 300 italic; Regular 400; Bold 700; Bold 700 italic;
$font-title: "Rubik", helvetica, arial, sans-serif;
// Light 300
$font-button: "Open Sans Condensed", helvetica, arial, sans-serif;
// Light 300

// Font size
// ----------------------------------------------------
$h1-font-size: 11.6rem !default; // 11.6
$h1-line-height: 1 !default;
$h1-font-size_md: 8.4rem !default; // $hd
$h1-line-height_md: 1 !default; // $hd
$h1-font-size_sm: 5.2rem !default; // $lg
$h1-line-height_sm: 1.1 !default; // $lg
// ----------------------------------------------------
$h2-font-size: 8.4rem !default;
$h2-line-height: 1 !default;
$h2-font-size_md: 7.2rem !default; // $hd 5.6rem
$h2-line-height_md: 1.1 !default; // $hd 1.1
$h2-font-size_sm: 3.2rem !default; // $lg
$h2-line-height_sm: 1.25 !default; // $lg
// ----------------------------------------------------
$h3-font-size: 6rem !default;
$h3-line-height: 1.1 !default;
$h3-font-size_md: 4.4rem !default; // $hd
$h3-line-height_md: 1.2 !default; // $hd
$h3-font-size_sm: 3.2rem !default; // $lg
$h3-line-height_sm: 1.25 !default; // $lg
// ----------------------------------------------------
$h4-font-size: 4.2rem !default;
$h4-line-height: 1.1 !default;
$h4-font-size_md: 3.2rem !default; // $hd
$h4-line-height_md: 1.25 !default; // $hd
$h4-font-size_sm: 2.8rem !default; // $hd
$h4-line-height_sm: 1.34 !default; // $hd
// ----------------------------------------------------
$large-text-font-size: 2.4rem !default;
$large-text-line-height: 3.2rem !default;
$large-text-font-size_md: 1.6rem !default; // $hd
$large-text-line-height_md: 2rem !default; // $hd
$large-text-font-size_sm: 1.6rem !default; // $lg
$large-text-line-height_sm: 2rem !default; // $lg

// Font size (typography)
// ----------------------------------------------------
$fz: 2rem !default;
$lh: 1.4 !default;
$fz_sm: 1.6rem !default;
$lh_sm: 1.5 !default;
// ----------------------------------------------------
$fz-small: 1.6rem !default;
$lh-small: 1.5 !default;
$fz-small_sm: 1.4rem !default;
$lh-small_sm: 1.6 !default;
// ----------------------------------------------------
$fz-large: 2.4rem !default;
$lh-large: 1.34 !default;
$fz-large_sm: 2rem !default;
$lh-large_sm: 1.4 !default;
// ----------------------------------------------------
$h0-fz: 6rem !default;
$h0-lh: 1.1 !default;
$h0-fz_md: 5.2rem !default; // $hd
$h0-lh_md: 1.11 !default; // $hd
$h0-fz_sm: 4.2rem !default; // $lg
$h0-lh_sm: 1.12 !default; // $lg
// ----------------------------------------------------
$h1-fz: 4.2rem !default; // 11.6
$h1-lh: 1.12 !default;
$h1-fz_md: 3.6rem !default; // $hd
$h1-lh_md: 1.18 !default; // $hd
$h1-fz_sm: 3.2rem !default; // $lg
$h1-lh_sm: 1.2 !default; // $lg
// ----------------------------------------------------
$h2-fz: 3.6rem !default;
$h2-lh: 1.18 !default;
$h2-fz_md: 3.2rem !default; // $hd 5.6rem
$h2-lh_md: 1.2 !default; // $hd 1.1
$h2-fz_sm: 2.8rem !default; // $lg
$h2-lh_sm: 1.25 !default; // $lg
// ----------------------------------------------------
$h3-fz: 3.2rem !default;
$h3-lh: 1.2 !default;
$h3-fz_md: 2.8rem !default; // $hd
$h3-lh_md: 1.25 !default; // $hd
$h3-fz_sm: 2.4rem !default; // $lg
$h3-lh_sm: 1.34 !default; // $lg
// ----------------------------------------------------
$h4-fz: 2.8rem !default;
$h4-lh: 1.25 !default;
$h4-fz_md: 2.4rem !default; // $hd
$h4-lh_md: 1.34 !default; // $hd
$h4-fz_sm: 2rem !default; // $hd
$h4-lh_sm: 1.4 !default; // $hd
// ----------------------------------------------------
$h5-fz: 2.4rem !default;
$h5-lh: 1.34 !default;
$h5-fz_md: 2rem !default; // $hd
$h5-lh_md: 1.4 !default; // $hd
$h5-fz_sm: 1.6rem !default; // $hd
$h5-lh_sm: 1.5 !default; // $hd
// ----------------------------------------------------
$h6-fz: 2rem !default;
$h6-lh: 1.5 !default;
$h6-fz_md: 1.6rem !default; // $hd
$h6-lh_md: 1.55 !default; // $hd
$h6-fz_sm: 1.4rem !default; // $hd
$h6-lh_sm: 1.6 !default; // $hd

// Colors
// ====================================================
$base-color: #0870d8 !default;
// ----------------------------------------------------
$brand-color-grey-1: #494c55 !default;
$brand-color-grey-2: #7f7f7f !default;
$brand-color-grey-3: #d7d7d7 !default;
$brand-color-security: #31548c !default;
$brand-color-medical: #58b1db !default;
$brand-color-science: #59bc09 !default;
$brand-color-innovation: #f5752c !default;
// ----------------------------------------------------
$link-color: #0870d8 !default;
$visited-color: #6908d8 !default;
$focus-color: #1279c5 !default;
$success-color: #28a745 !default;
$error-color: #f34040 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
// ----------------------------------------------------
$button-color-white: #fff !default;
$button-color-white--hover: #f0f0f0 !default;
$button-color-white--active: #e6e6e6 !default;
$button-color-blue: #0870d8 !default;
$button-color-blue--hover: #0a7ff5 !default;
$button-color-blue--active: #064f99 !default;
$button-color-black: #0d1623 !default;
$button-color-black--hover: #1d2a3d !default;
$button-color-black--active: #000 !default;
// ----------------------------------------------------
$line-color-grey-divider: #d6d6d6 !default;
$line-color-blue: #418fdd !default;
$line-color-black: #313944 !default;
$line-color-grey-slider: #e5e5e5 !default;
// ----------------------------------------------------
$icon-color-white: #fff !default;
$icon-color-blue: #0870d8 !default;
$icon-color-black: #0d1623 !default;
// ----------------------------------------------------
$bg-color-white: #fff !default;
$bg-color-blue: #0870d8 !default;
$bg-color-black: #0d1623 !default;
$bg-color-dark-gray: #323232 !default;
$bg-color-light-gray: #f1f1f1 !default;
// ----------------------------------------------------
$text-color-white: #fff !default;
$text-color-blue: #0870d8 !default;
$text-color-light-blue: #51a8ff !default;
$text-color-black: #0d1623 !default;
$text-color-grey: #858585 !default;
// ----------------------------------------------------
$mark-color: $info-color !default;

// Layout page
// ====================================================
// Site's minimal width
$layout-page-min-width: 36rem !default;
// Site's maximal width
$layout-page-max-width: 380rem !default;
// Maximal width wrapper
$layout-site-max-width: 380rem !default;
// Site's spaces
$layout-page-space-h: 4.6rem !default;
$layout-page-space-h_lg: 4.6rem !default; // < $hd
$layout-page-space-h_md: 2.4rem !default; // < $xl
$layout-page-space-h_sm: 1.6rem !default; // < $md
// ----------------------------------------------------
$layout-page-space-v: 4.4rem !default;
$layout-page-space-v_lg: 2.8rem !default; // < $hd
$layout-page-space-v_md: 2.4rem !default; // < $xl
$layout-page-space-v_sm: 1.6rem !default; // < $md

// Layout content
// ====================================================
// Maximal content's width
$layout-content-max-width: 380rem !default;
// Maximal narrow content's width
$layout-narrow-max-width: 136.6rem !default;

// Content
// ====================================================
//$bottom-space: 1.6rem;
$bottom-space: 2.8rem;
$bottom-space_sm: 2rem;

// Header
// ====================================================
$header-height-top: 6rem !default;
$header-height-bottom: 6rem !default;
$header-height_sm: 4rem !default;

// Select blue colors scheme
// ====================================================
$form-blue-height: 12.8rem !default;
$form-blue-text-color: $text-color-white !default;
$form-blue-placeholder-color: rgba($text-color-white, 0.5) !default;
$form-blue-bg-color: $bg-color-blue !default;
$form-blue-border-color: $bg-color-blue !default;
$form-blue-border-color--focus: $bg-color-blue !default;
$form-blue-text-color--disabled: #ced4da !default;
$form-blue-bg-color--disabled: #e9ecef !default;
$form-blue-border-color--disabled: #ced4da !default;

// Select blue disabled
// ====================================================
@mixin select-blue-disabled {
  color: $form-blue-text-color--disabled;
  background-color: $form-blue-bg-color--disabled;
  border-color: $form-blue-border-color--disabled;
  box-shadow: none;
  cursor: not-allowed;
}

// Select white colors scheme
// ====================================================
$form-white-height: 12.8rem !default;
$form-white-text-color: $text-color-blue !default;
$form-white-placeholder-color: rgba($text-color-blue, 0.5) !default;
$form-white-bg-color: $bg-color-white !default;
$form-white-border-color: $bg-color-white !default;
$form-white-border-color--focus: $bg-color-white !default;
$form-white-text-color--disabled: #ced4da !default;
$form-white-bg-color--disabled: #e9ecef !default;
$form-white-border-color--disabled: #ced4da !default;

// Select white disabled
// ====================================================
@mixin select-white-disabled {
  color: $form-white-text-color--disabled;
  background-color: $form-white-bg-color--disabled;
  border-color: $form-white-border-color--disabled;
  box-shadow: none;
  cursor: not-allowed;
}

// Animation
// ====================================================
$animation-speed: 0.2s !default;
$animation-speed-out: 0.4s !default;
$fp-animation-speed: 0.5s !default;

$animation-duration: 0.6s !default;
$animation-delay-start: 0.5s !default;

// Snippet
// ====================================================
$snippet-min-height: 48rem !default;
$snippet-min-height_md: 36rem !default; // < $xl
