.powerful-slider {
  position: relative;
  padding: 0 #{$layout-page-space-h};
  overflow: hidden;

  @include below($lg) {
    padding: 0 #{$layout-page-space-h_md};
  }

  @include below($md) {
    padding: 0 #{$layout-page-space-h_sm};
  }

  html:not(.no-js) &:not(.is-loaded) {
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .swiper-container {
    overflow: visible;
  }

  &__slide {
    position: relative;

    &-photo {
      position: relative;
      overflow: hidden;
      background-color: $bg-color-blue;

      &::before {
        display: block;
        content: "";

        @include ratio(868, 524);
      }

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__pagination {
    position: relative;
    bottom: auto;
    left: auto;
    z-index: 5;
    display: none;
    width: 100%;
    margin-top: 1.5rem;
    pointer-events: none;

    @include below($lg) {
      display: block;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -0.5rem 0;

      &.swiper-pagination-lock {
        display: none;
      }
    }

    &-bullet {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      cursor: pointer;
      user-select: none;
      pointer-events: auto;
      -webkit-tap-highlight-color: transparent;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        display: block;
        width: 14px;
        height: 14px;
        margin: -7px;
        background-color: $base-color;
        border-radius: 14px;
        opacity: 0.6;
        transition: opacity $animation-speed;
      }

      // Active
      &_active {
        cursor: default;

        span {
          transform: scale(1) !important;
          opacity: 1 !important;
        }
      }

      // :hover
      &:hover {
        span {
          opacity: 0.8;
        }
      }

      // :active
      &:active {
        span {
          transform: scale(0.96);
        }
      }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 100%;
    height: 0;
  }

  &__button {
    $size: 4rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    margin-top: -#{round-float($size / 2, 1)};
    color: black;
    border-radius: $size;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity $animation-speed;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 1.2rem;
      height: 2rem;
      margin: -1rem -0.6rem;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }

    &.swiper-button-lock {
      display: none;
    }

    &_prev {
      float: left;
      margin-left: -1.4rem;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.85714L4.5 10L12 17.1429L10.5 20L0 10L10.5 0L12 2.85714Z' fill='%23000'/%3E%3C/svg%3E%0A");
      }
    }

    &_next {
      float: right;
      margin-right: -1.4rem;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.85714L7.5 10L0 17.1429L1.5 20L12 10L1.5 0L0 2.85714Z' fill='%23000'/%3E%3C/svg%3E%0A");
      }
    }

    // :hover
    &:not(.swiper-button-disabled):hover {
      opacity: 1;
    }

    // :active
    &:not(.swiper-button-disabled):active {
      transform: scale(0.95);
    }

    // Disabled
    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }
}
