.section-title-and-counters {
  $el: &;

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: #{round-float(596 / 1366, 3) * 100vw};
  //min-height: 90.8rem;
  margin-bottom: #{$layout-page-space-h};
  padding: #{$layout-page-space-v} #{$layout-page-space-h};
  overflow: hidden;
  background-color: $bg-color-blue;

  @include below($xl) {
    margin-bottom: #{$layout-page-space-h_md};
    padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
  }

  @include below($md) {
    min-height: 36rem;
    margin-bottom: #{$layout-page-space-h_sm};
    padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
  }

  &_blue {
    background-color: $bg-color-white;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.45;
  }

  &__title {
    position: relative;
    max-width: 100%;
    margin-bottom: 2.4rem;
    color: $text-color-white;
    font: bold 11.6rem/11.6rem $font-title;
    letter-spacing: -#{floor-float(1.8 / 116, 3) * 1em};
    text-transform: uppercase;

    @include below($hd) {
      font-size: 6.8rem;
      line-height: 7.2rem;
      letter-spacing: -0.06rem;
    }

    @include below($xl) {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }

    @include below($lg) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }

    @include below($md) {
      font-size: 3.2rem;
      line-height: 4rem;
    }

    #{$el}_blue & {
      color: $text-color-blue;
    }

    & > span {
      display: block;
    }
  }

  &__counter {
    position: relative;
    margin-top: auto;
    overflow: hidden;

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 -2.2rem -3.1rem;

      @include below($md) {
        margin: 0 -#{$layout-page-space-v_sm / 2} -#{$layout-page-space-v_sm};
      }
    }

    &-item {
      $width: 25%;

      flex: 1 0 $width;
      max-width: $width;
      margin-bottom: 3.1rem;
      padding: 0 2.2rem;

      @include below($md) {
        $width: 50%;

        flex: 1 0 $width;
        max-width: $width;
        margin-bottom: #{$layout-page-space-v_sm};
        padding: 0 #{$layout-page-space-v_sm / 2};
      }
    }

    &-value {
      display: block;
      color: $text-color-white;
      font: 500 8rem/8.8rem $font-title;
      letter-spacing: -0.019em;

      @include below($xl) {
        font-size: 5.6rem;
        line-height: 6.4rem;
      }

      @include below($md) {
        font-weight: bold;
        font-size: 4.4rem;
        line-height: 5.2rem;
      }
    }

    &-text {
      display: block;
      color: $text-color-white;
      font: 500 2.4rem/3.6rem $font-title;
      letter-spacing: 0.02em;
      opacity: 0.6;

      @include below($md) {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
    }
  }
}
