.snippet-categories {
  $container: &;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -1.4rem -2.8rem;

    @include below($sm) {
      display: block;
    }
  }

  &__item {
    $item: &;
    $width: 50%;

    flex: 1 0 $width;
    max-width: $width;
    padding: 0 1.4rem 2.8rem;

    @include below($sm) {
      max-width: none;
    }

    &-el {
      $el: &;

      position: relative;
      display: block;
      color: inherit;
      text-decoration: none;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: $button-color-blue;
        transform: scaleY(0);
        transform-origin: right bottom;
        transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
        content: "";
        will-change: transform;
      }

      #{$container}_blue &::before {
        background-color: $button-color-white;
      }

      &:hover {
        &::before {
          transform: scaleY(1);
          transition-duration: $animation-speed * 1.5;
        }
      }

      &-photo {
        position: relative;
        height: 28rem;
        margin-bottom: 1rem;
        overflow: hidden;

        @include below($xl) {
          height: auto;
        }

        &::before {
          display: none;
          content: "";

          @include ratio(573, 378);

          @include below($xl) {
            display: block;
          }
        }

        &-inner {
          position: relative;
          height: 100%;
          background-color: $bg-color-dark-gray;
          transition: $animation-speed-out;

          @include below($xl) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          #{$el}:hover & {
            transform: scale(0.88);
            transition-duration: $animation-speed;
          }
        }

        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          backface-visibility: hidden;
          //opacity: 0.5;
          transition: opacity $animation-speed-out;

          .section-definitions__description & {
            height: 100%;
          }

          @include below($xl) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .section-definitions__description & {
              height: 100%;
            }
          }

          #{$el}:hover & {
            opacity: 1;
            transition-duration: $animation-speed;
          }
        }
      }

      &-title {
        position: relative;
        display: inline-block;
        max-width: 100%;
        font: 300 #{$h6-fz}/#{$h6-lh} $font-button;
        text-transform: uppercase;
        vertical-align: top;
        box-shadow: inset 0 -2px 0 $text-color-blue;
        transition: {
          property: box-shadow;
          duration: $animation-speed-out;
        };

        #{$container}_blue & {
          box-shadow: inset 0 -2px 0 $text-color-white;
        }

        #{$el}:hover & {
          box-shadow: inset 0 -2px 0 $text-color-blue;
          transition-duration: $animation-speed;
        }

        &-inner {
          padding: 0.6rem 0;
          color: $text-color-blue;
          transform-origin: bottom left;
          transition: {
            property: color, transform;
            duration: $animation-speed-out;
          };

          #{$container}_blue & {
            color: $text-color-white;
          }

          #{$el}:hover & {
            color: $text-color-white;
            box-shadow: inset 0 -2px 0 $text-color-blue;
            transform: translateX(3.5rem) translateY(-1.5rem) scale(0.88, 1);
            transition-duration: $animation-speed;
          }

          #{$container}_blue #{$el}:hover & {
            color: $text-color-blue;
            box-shadow: inset 0 -2px 0 $text-color-white;
          }
        }

        &-frame {
          position: relative;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
