.rotate {
  &__el {
    $element: &;

    display: block;
    color: inherit;
    text-decoration: none;

    &-photo {
      position: relative;
      margin-bottom: 1.4rem;
      overflow: hidden;
      background-color: $bg-color-blue;

      &::before {
        display: block;
        content: "";

        @include ratio(16, 9);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $animation-speed;

        @include below($xl) {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    &-title {
      font-weight: normal;
      transition: color $animation-speed;

      #{$element}:hover & {
        color: $link-color;
      }
    }
  }

  &__slider {
    position: relative;

    html:not(.no-js) &:not(.is-loaded) {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    &-slide {
      $slide: &;

      position: relative;
    }

    &-pagination {
      position: relative;
      bottom: auto;
      left: auto;
      z-index: 5;
      display: none;
      width: 100%;
      margin-top: 1.5rem;
      pointer-events: none;

      &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -0.5rem 0;

        &.swiper-pagination-lock {
          display: none;
        }
      }

      &-bullet {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        cursor: pointer;
        user-select: none;
        pointer-events: auto;
        -webkit-tap-highlight-color: transparent;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 5;
          display: block;
          width: 14px;
          height: 14px;
          margin: -7px;
          background-color: $base-color;
          border-radius: 14px;
          opacity: 0.6;
          transition: opacity $animation-speed;
        }

        // Active
        &_active {
          cursor: default;

          span {
            transform: scale(1) !important;
            opacity: 1 !important;
          }
        }

        // :hover
        &:hover {
          span {
            opacity: 0.8;
          }
        }

        // :active
        &:active {
          span {
            transform: scale(0.96);
          }
        }
      }
    }

    &-controls {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: 5;
      height: 0;
    }

    &-button {
      $size: 4.6rem;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      margin-top: -#{round-float($size / 2, 1)};
      color: black;
      background-color: $button-color-blue;
      border-radius: 0;
      cursor: pointer;
      opacity: 1;
      transition: $animation-speed;
      -webkit-tap-highlight-color: transparent;
      user-select: none;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
      }

      &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: $button-color-black;
        transform: scaleY(0);
        transform-origin: right bottom;
        //filter: invert(1);
        transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
        will-change: transform;
      }

      &::after {
        top: 50%;
        left: 50%;
        width: 1.2rem;
        height: 2rem;
        margin: -1rem -0.6rem;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.swiper-button-lock {
        display: none;
      }

      &_prev {
        float: left;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6835 27.6333L18.0502 20L25.6835 12.35L23.3335 10L13.3335 20L23.3335 30L25.6835 27.6333Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      &_next {
        float: right;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3165 27.6333L21.9499 20L14.3165 12.35L16.6665 10L26.6665 20L16.6665 30L14.3165 27.6333Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      // :hover
      &:not(.swiper-button-disabled):hover {
        &::before {
          transform: scaleY(1);
          transition-duration: $animation-speed;
        }
      }

      // :active
      &:not(.swiper-button-disabled):active {
        transform: scale(0.95);
        transition: 0.1s;

        &::before {
          transform: scaleY(1);
          transition-duration: $animation-speed;
        }
      }

      // Disabled
      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
