.article-meta {
  margin: #{round-float($bottom-space * 1.5, 1)} 0 #{round-float($bottom-space * 0.25, 1)};
  color: $text-color-grey;
  font: 300 #{$fz-small}/#{$lh-small} $font-title;

  @include below($lg) {
    margin: #{round-float($bottom-space_sm * 1.5, 1)} 0 #{round-float($bottom-space_sm * 0.25, 1)};
    font-size: $fz-small_sm;
    line-height: $lh-small_sm;
  }

  & + * {
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
