.section-heading {
  $el: &;

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: #{round-float(596 / 1366, 3) * 100vw};
  //min-height: 90.8rem;
  //margin-bottom: #{$layout-page-space-h};
  padding: #{$layout-page-space-v} #{$layout-page-space-h};
  overflow: hidden;
  background-color: $bg-color-blue;

  //@include below($hd) {
  //  min-height: 59.6rem;
  //}

  @include below($xl) {
    //margin-bottom: #{$layout-page-space-h_md};
    padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
  }

  @include below($md) {
    min-height: 36rem;
    //margin-bottom: #{$layout-page-space-h_sm};
    padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
  }

  &_blue {
    background-color: $bg-color-white;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    //opacity: 0.45;
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1.6rem;
    padding: 0.5rem;
    color: $text-color-blue;
    font: bold #{$h4-font-size}/#{$h2-line-height} $font-title;
    letter-spacing: 0.005em;
    background-color: $bg-color-white;

    @include below($hd) {
      width: 6.4rem;
      height: 6.4rem;
      font-size: $h4-font-size_md;
      line-height: $h4-line-height_md;
    }

    @include below($md) {
      margin-bottom: #{$layout-page-space-h_sm};
    }

    #{$el}_blue & {
      color: $text-color-white;
      background-color: $bg-color-blue;
    }
  }

  &__title {
    position: relative;
    max-width: 100%;
    margin-top: auto;
    color: $text-color-white;
    font: bold #{$h2-font-size}/#{$h2-line-height} $font-title;
    text-transform: uppercase;

    @include below($hd) {
      font-size: 6.8rem;
      line-height: 7.2rem;
      letter-spacing: -0.06rem;
    }

    @include below($xl) {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }

    @include below($lg) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }

    @include below($md) {
      font-size: 3.2rem;
      line-height: 4rem;
    }

    #{$el}_blue & {
      color: $text-color-blue;
    }

    & > span {
      display: block;
    }
  }
}
