.section-heading {
  $el: &;

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vw * 596/1366;
  padding: #{$layout-page-space-v} #{$layout-page-space-h};
  overflow: hidden;
  background-color: $bg-color-blue;

  &_blue {
    background-color: $bg-color-white;
  }

  @include below($hd) {
    padding-top: #{$layout-page-space-v_lg};
    padding-bottom: #{$layout-page-space-v_lg};
  }

  @include below($lg) {
    padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
  }

  @include below($md) {
    padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.45;
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 1.6rem;
    padding: 0.5rem;
    color: $text-color-blue;
    font: 500 3.2rem/4rem $font-title;
    letter-spacing: 0.005em;
    background-color: $bg-color-white;

    #{$el}_blue & {
      color: $text-color-white;
      background-color: $bg-color-blue;
    }
  }

  &__title {
    position: relative;
    width: 62rem;
    max-width: 100%;
    margin-top: auto;
    color: $text-color-white;
    font: 500 6.8rem/7.2rem $font-title;
    text-transform: uppercase;

    #{$el}_blue & {
      color: $text-color-blue;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      display: block;
    }
  }
}
