.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  @include below($xl) {
    display: block;
    height: auto;
    transform: none;
  }

  &__heading {
    $width: 50%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      width: $width;
      max-width: $width;

      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      width: auto;
      max-width: none;
      height: auto;
      min-height: 36rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-figure {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-title {
      position: relative;
      margin-bottom: 1.6rem;
      color: $text-color-blue;
      //font: 300 8.4rem/1 $font-title;
      font: 300 4.4rem/5.2rem $font-title;
      letter-spacing: -0.01em;
      text-transform: uppercase;

      @include below($hd) {
        //font-size: 4.4rem;
        //line-height: 5.2rem;
        letter-spacing: normal;
      }

      @include below($lg) {
        font-size: 3.2rem;
        line-height: 4rem;
      }
    }

    &-text {
      position: relative;
      color: $text-color-blue;
      font: 500 3.2rem/4rem $font-title;
      letter-spacing: 0.006em;

      @include below($hd) {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &_script {
        @include below($xl) {
          display: none;
        }
      }

      &_no-script {
        display: none;

        @include below($xl) {
          display: block;
        }
      }
    }
  }

  &__data {
    $width: 50%;

    position: relative;
    flex: 1 0 $width;
    width: $width;
    max-width: $width;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};
    color: $text-color-white;
    background-color: $bg-color-black;

    @include below($hd) {
      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      width: auto;
      max-width: none;
      height: auto;
      min-height: 36rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
      background-color: $bg-color-blue;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }
  }
}
