.entry {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #31548c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    position: relative;
    padding-top: #{$layout-page-space-v};
    padding-bottom: #{$layout-page-space-v};

    @include below($hd) {
      padding-top: #{$layout-page-space-v_lg};
      padding-bottom: #{$layout-page-space-v_lg};
    }

    @include below($lg) {
      padding-top: #{$layout-page-space-v_md};
      padding-bottom: #{$layout-page-space-v_md};
    }

    @include below($md) {
      padding-top: #{$layout-page-space-v_sm};
      padding-bottom: #{$layout-page-space-v_sm};
    }
  }

  &__breadcrumbs {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $text-color-white;
    font: bold 11.6rem/11.6rem $font-title;
    letter-spacing: -0.016em;
    text-transform: uppercase;
  }

  &__nav {
    margin-top: 12.6rem;
  }
}
