.entry {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #31548c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    position: relative;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    @include below($md) {
      padding-top: #{$layout-page-space-v_sm};
      padding-bottom: #{$layout-page-space-v_sm};
    }
  }

  &__breadcrumbs {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $text-color-white;
    font: bold #{$h2-font-size}/#{$h2-line-height} $font-title;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @include below($hd) {
      font-size: $h2-font-size_md;
      line-height: $h2-line-height_md;
      letter-spacing: normal;
    }

    @include below($xxl) {
      font-size: 8.2rem;
      line-height: 9rem;
    }

    @include below($lg) {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }

    @include below($md) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }
  }

  &__nav {
    margin-top: 4.4rem;

    @include below($lg) {
      margin-top: #{$layout-page-space-v_md};
    }

    @include below($md) {
      margin-top: #{$layout-page-space-v_sm};
    }
  }
}
