.entry {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #31548c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .main-page-section & {
      background-color: $bg-color-white;
    }
  }

  &__container {
    position: relative;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    @include below($md) {
      padding-top: #{$layout-page-space-v_sm};
      padding-bottom: #{$layout-page-space-v_sm};
    }
  }

  &__breadcrumbs {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $text-color-white;
    font: 300 #{$h2-font-size}/#{$h2-line-height} $font-title;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @include below($hd) {
      font-size: $h2-font-size_md;
      line-height: $h2-line-height_md;
      letter-spacing: normal;
    }

    @include below($xxl) {
      font-size: 8.2rem;
      line-height: 9rem;
    }

    @include below($lg) {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }

    @include below($md) {
      font-size: 4.4rem;
      line-height: 5.2rem;
    }

    .main-page-section & {
      height: auto;
      margin-bottom: 3.4rem;
      color: $text-color-blue;
      font: 300 #{$h4-font-size}/#{$h4-line-height_md} $font-title;
      text-transform: uppercase;

      @include below($hd) {
        font-size: $h4-font-size_md;
        line-height: $h4-line-height_md;
      }

      @include below($xl) {
        margin-bottom: #{$layout-page-space-v_md};
        font-size: $h4-font-size_md;
        line-height: $h4-line-height_md;
      }

      @include below($lg) {
        font-size: $h4-font-size_md;
        line-height: $h4-line-height_md;
      }

      @include below($md) {
        margin-bottom: #{$layout-page-space-v_sm};
        font-size: $h4-font-size_md;
        line-height: $h4-line-height_md;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    color: $text-color-blue;
    //font-size: 2.6rem;
    //line-height: 3.4rem;
    font: 300 2rem/3.2rem $font;
    letter-spacing: 0.02em;

    @include below($md) {
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.025em;
    }

    strong {
      font-weight: 400;
    }

    p {
      margin-bottom: 2.4rem;
    }
  }

  &__nav {
    margin-top: 4.4rem;

    @include below($lg) {
      margin-top: #{$layout-page-space-v_md};
    }

    @include below($md) {
      margin-top: #{$layout-page-space-v_sm};
    }
  }

  &__footer {
    margin-top: 2.4rem;
    text-align: center;
  }
}
