.header-menu {
  position: fixed;
  top: $header-height-top;
  left: 0;
  z-index: 110;
  width: 100%;
  max-width: 100%;
  padding: 0 #{$layout-page-space-h};
  color: $text-color-white;
  transition: {
    property: max-width, transform;
    duration: 0.5s;
  };

  // На главной для $xl и выше
  &.is-collapsed {
    $left-intend: 24rem; // 8.2rem

    max-width: calc(100vw - 16rem - #{$left-intend});
    transform: translateX($left-intend) translateY(-100%);

    @include below($hd) {
      $left-intend: 15rem;

      max-width: calc(100vw - 13rem - #{$left-intend});
      transform: translateX($left-intend) translateY(-100%);
    }

    @include below($xxl) {
      $left-intend: 10rem;

      max-width: calc(100vw - 13rem - #{$left-intend});
      transform: translateX($left-intend) translateY(-100%);
    }
  }

  // Для всех страниц с дефолтным скроллом
  .scrolled & {
    $left-intend: 24rem; // 8.2rem

    max-width: calc(100vw - 16rem - #{$left-intend});
    transform: translateX($left-intend) translateY(-100%);

    @include below($hd) {
      $left-intend: 15rem;

      max-width: calc(100vw - 13rem - #{$left-intend});
      transform: translateX($left-intend) translateY(-100%);
    }

    @include below($xl) {
      max-width: calc(100vw - #{$layout-page-space-h_md * 2 + 3.6rem + 9.6rem - 1.2rem});
      transform: translateX(#{$layout-page-space-h_md + 3.6rem}) translateY(-100%);
    }

    @include below($lg) {
      // mobile menu
      max-width: 100%;
      transform: translateX(-100%);

      &.mob-menu-is-open {
        transform: translateX(0);
      }
    }
  }

  @include below($xl) {
    padding: 0 #{$layout-page-space-h_md};
  }

  @include below($lg) {
    // mobile menu
    position: fixed;
    top: 0;
    left: 0;
    z-index: 125;
    width: 36rem;
    max-width: 100%;
    height: 100%;
    padding: #{$header-height-top} #{$layout-page-space-h_md} 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba($bg-color-blue, 0.95);
    box-shadow: 0 1rem 5rem transparent;
    transform: translateX(-100%);
    opacity: 0;
    transition: {
      property: opacity, transform;
      duration: $animation-speed;
    }
    will-change: opacity, transform;
    -webkit-overflow-scrolling: touch;
  }

  &.mob-menu-is-open {
    // mobile menu
    @include below($lg) {
      box-shadow: 0 1rem 5rem rgba(#000, 0.35);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
