.header-menu {
  position: fixed;
  top: $header-height-top;
  left: 0;
  z-index: 15;
  width: 100%;
  max-width: 100%;
  padding: 0 #{$layout-page-space-h};
  color: $text-color-white;
  transition: {
    property: max-width, transform;
    duration: 0.5s;
  };

  @include below($lg) {
    padding: 0 #{$layout-page-space-h_md};
  }

  &.is-collapsed {
    max-width: calc(100vw - 16rem - 8.2rem);
    transform: translateX(8.2rem) translateY(-100%);

    @include below($hd) {
      max-width: calc(100vw - 11.8rem - 8.2rem);
    }

    @include below($lg) {
      max-width: 100%;
      transform: translateX(-100%);
    }
  }

  @include below($lg) {
    // mobile menu
    position: fixed;
    top: 0;
    left: 0;
    z-index: 35;
    width: 28rem;
    max-width: 100%;
    height: 100%;
    padding: 4rem 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba($bg-color-blue, 0.85);
    box-shadow: 0 1rem 5rem rgba(#000, 0.15);
    transform: translateX(-100%);
    opacity: 0;
    transition: {
      property: opacity, transform;
      duration: $animation-speed;
    }
    will-change: opacity, transform;
    -webkit-overflow-scrolling: touch;
  }

  &.mob-menu-is-open {
    // mobile menu
    @include below($lg) {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
