.development {
  $svg-start-delay: 0.4s;
  $svg-animation-speed: 0.8s;
  $svg-animation-speed-bottom-curve: 1s + 0.2s + 0.2s;

  position: relative;
  height: 100%;
  overflow: hidden;

  @include below($xl) {
    height: auto;
    background-color: $bg-color-blue;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color-blue;
    animation-delay: $svg-start-delay + $svg-animation-speed-bottom-curve + 3.2s;

    @include below($xl) {
      display: none;
    }

    &-inner {
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__side {
    position: absolute;
    top: 0;
    width: 35%;
    height: 100%;
    background-color: $bg-color-blue;

    @include below($xl) {
      display: none;
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    max-width: 40%;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};

    @include below($hd) {
      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      position: relative;
      top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      max-width: none;
      min-height: 36rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($lg) {
      min-height: 36rem;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-figure {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;

      @include below($xl) {
        display: block;
      }
    }

    &-title {
      position: relative;
      margin-bottom: 1.6rem;
      color: $text-color-white;
      font: bold 8.4rem/1 $font-title;
      letter-spacing: -0.01em;
      text-transform: uppercase;

      @include below($hd) {
        font-size: 4.4rem;
        line-height: 5.2rem;
        letter-spacing: normal;
      }

      @include below($xl) {
        width: 100%;
      }

      @include below($lg) {
        font-size: 3.2rem;
        line-height: 4rem;
      }

      &-row {
        position: relative;
        display: inline-block;
        vertical-align: top;
      }
    }

    &-text {
      position: relative;
      max-width: 40rem;
      color: $text-color-white;
      font: 500 3.2rem/4rem $font-title;
      letter-spacing: 0.006em;

      @include below($hd) {
        max-width: 23rem;
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &_script {
        @include below($xl) {
          display: none;
        }
      }

      &_no-script {
        display: none;

        @include below($xl) {
          display: block;
          width: 100%;
        }
      }
    }
  }

  &__data {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include below($xl) {
      position: relative;
      top: auto;
      left: auto;
      display: block;
      height: auto;
    }

    @include below($md) {
      height: 42.6rem;
    }

    &::before {
      display: none;
      content: "";

      @include ratio(192, 102);

      @include below($xl) {
        display: block;
      }

      @include below($md) {
        display: none;
      }
    }
  }

  &__chart {
    position: relative;
    // 1920 1020
    //width: calc((100vh - #{$header-height-top}) / (1020 / 1920)); // Изменение ширины слайда через относительную высоту
    width: 100%;
    height: 100%;
    line-height: 1;

    @include below($xl) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include below($md) {
      background: url(../images/chart-tab.png) no-repeat center / 100% 100%;
    }

    @include below($sm) {
      background: url(../images/chart-mob.png) no-repeat center / 100% 100%;
    }

    &-svg {
      position: absolute;
      //top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      //height: 100%;
      height: auto;

      @include below($md) {
        display: none;
      }

      //path {
      //  stroke-dasharray: 2000;
      //  stroke-dashoffset: 2000;
      //  animation: dash 5s linear alternate forwards;
      //}

      .top-curve {
        @include above($xl) {
          stroke-dasharray: 1704;
          stroke-dashoffset: 1704;

          .after-ready & {
            animation: top-curve #{$svg-animation-speed} linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 2.3s} alternate forwards;
          }

          @keyframes top-curve {
            from {
              stroke-dashoffset: 1704;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .agile {
        @include above($xl) {
          opacity: 0;

          .after-ready & {
            animation: agile 0.25s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 1.5s} alternate forwards;
          }

          @keyframes agile {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }
      }

      .arrow-left {
        @include above($xl) {
          transform: translateX(4rem);
          opacity: 0;

          .after-ready & {
            animation: arrow-left 0.3s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 1.8s} alternate forwards;
          }

          @keyframes arrow-left {
            from {
              transform: translateX(4rem);
              opacity: 0;
            }

            to {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }

      .arrow-right {
        @include above($xl) {
          transform: translateX(-4rem);
          opacity: 0;

          .after-ready & {
            animation: arrow-right 0.3s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 1.8s} alternate forwards;
          }

          @keyframes arrow-right {
            from {
              transform: translateX(-4rem);
              opacity: 0;
            }

            to {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }

      .x-axes {
        @include above($xl) {
          stroke-dasharray: 1920;
          stroke-dashoffset: 1920;

          .after-ready & {
            animation: x-axes $svg-animation-speed linear #{$svg-start-delay} alternate forwards;
          }

          @keyframes x-axes {
            from {
              stroke-dashoffset: 1920;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .x-axes-2 {
        @include above($xl) {
          stroke-dasharray: 1825;
          stroke-dashoffset: 1825;

          .after-ready & {
            animation: x-axes-2 $svg-animation-speed linear #{$svg-start-delay} alternate forwards;
          }

          @keyframes x-axes-2 {
            from {
              stroke-dashoffset: 1825;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .x-axes-3 {
        @include above($xl) {
          stroke-dasharray: 580;
          stroke-dashoffset: 580;

          .after-ready & {
            animation: x-axes-3 0.5s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 0.8s} alternate forwards;
          }

          @keyframes x-axes-3 {
            from {
              stroke-dashoffset: 580;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .y-axes {
        @include above($xl) {
          stroke-dasharray: 1020;
          stroke-dashoffset: 1020;

          .after-ready & {
            animation: y-axes $svg-animation-speed linear #{$svg-start-delay} alternate forwards;
          }

          @keyframes y-axes {
            from {
              stroke-dashoffset: 1020;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .y-axes-2 {
        @include above($xl) {
          stroke-dasharray: 176;
          stroke-dashoffset: 176;

          .after-ready & {
            animation: y-axes-2 0.2s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve} alternate forwards;
          }

          @keyframes y-axes-2 {
            from {
              stroke-dashoffset: 176;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .grids {
        @include above($xl) {
          stroke-dasharray: 948;
          stroke-dashoffset: 948;

          .after-ready & {
            animation: grids $svg-animation-speed * 2 linear #{$svg-start-delay + $svg-animation-speed-bottom-curve} alternate forwards;
          }

          @keyframes grids {
            from {
              stroke-dashoffset: 948;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .edges {
        @include above($xl) {
          stroke-dasharray: 902;
          stroke-dashoffset: 902;

          .after-ready & {
            animation: edges 0.5s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 1s} alternate forwards;
          }

          @keyframes edges {
            from {
              stroke-dashoffset: 902;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .bottom-curve {
        @include above($xl) {
          stroke-dasharray: 1944;
          stroke-dashoffset: 1944;

          .after-ready & {
            animation: bottom-curve #{$svg-animation-speed-bottom-curve} linear #{$svg-start-delay + 0.5} alternate forwards;
          }

          @keyframes bottom-curve {
            from {
              stroke-dashoffset: 1944;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      .dot-top-l {
        @include above($xl) {
          transform: scale(0);
          transform-origin: (481 / 1366 * 100%) (256 / 708 * 100%);

          .after-ready & {
            animation: dot 0.3s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 2.5s} alternate forwards;
          }
        }
      }

      .dot-top-r {
        @include above($xl) {
          transform: scale(0);
          transform-origin: (885 / 1366 * 100%) (256 / 708 * 100%);

          .after-ready & {
            animation: dot 0.3s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 2.8s} alternate forwards;
          }
        }
      }

      .dot-bottom-l {
        @include above($xl) {
          transform: scale(0);
          transform-origin: (48 / 1366 * 100%) (519 / 708 * 100%);

          .after-ready & {
            animation: dot 0.3s linear #{$svg-start-delay + 0.5} alternate forwards;
          }
        }
      }

      .dot-bottom-r {
        @include above($xl) {
          transform: scale(0);
          transform-origin: (1317 / 1366 * 100%) (519 / 708 * 100%);

          .after-ready & {
            animation: dot 0.3s linear #{$svg-start-delay + $svg-animation-speed-bottom-curve + 0.3} alternate forwards;
          }
        }
      }

      @keyframes dot {
        from {
          transform: scale(0);
        }

        50% {
          transform: scale(1.5);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &-labels-y {
      position: absolute;
      bottom: 23vw;
      left: floor-float(55 / 1920 * 100, 1) * 1%;
      z-index: 10;
      display: flex;
      color: $text-color-white;
      font: bold 2rem/2.4rem $font-button;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;

      @include below($hd) {
        bottom: 20vw;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.06rem;
      }

      @include below($xl) {
        bottom: 50%;
      }

      &-inner {
        margin-left: 0.3rem;
        transform: rotate(-0.25turn);
      }
    }

    &-labels-x {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 11.5vh;
      height: 5.6vw;
      padding: 0 (floor-float(49 / 1920 * 100, 1) * 1%);
      color: $text-color-white;
      font: bold 2rem/2.4rem $font-button;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;

      @include below($hd) {
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.06rem;
      }

      &.is-open {
        z-index: 15;
      }

      &-item {
        display: flex;
        flex: 1 0;
        justify-content: center;
        width: floor-float(100 / 7, 1) * 1%;

        @include below($md) {
          align-items: flex-start;
          justify-content: flex-start;
        }

        @for $i from 1 through 7 {
          .after-ready &:nth-child(#{$i}) {
            animation-delay: floor-float($svg-start-delay - 0.2 + $i * ($svg-animation-speed-bottom-curve / 7), 2);
          }
        }

        &.is-open {
          z-index: 15;
        }

        &-inner {
          position: relative;

          @include below($md) {
            white-space: nowrap;
            transform: rotate(-90deg) translateY(50%);
            transform-origin: left top;
          }

          a {
            display: inline-block;
            color: inherit;
            text-decoration: none;
            vertical-align: top;
            transition: opacity $animation-speed;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    &-note {
      position: absolute;
      z-index: 10;
      width: 4rem;
      height: 4rem;

      @include below($lg) {
        display: none;
      }

      &_development-processes {
        bottom: 13vh;
        left: 4vw;

        @include below($xl) {
          bottom: 8vh;
        }
      }

      &-inner {
        position: relative;
        height: 100%;

        &.has-note {
          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            margin: -1.2rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.18364 3.59017C6.75535 1.83062 9.24465 1.83062 9.81636 3.59017C10.072 4.37706 10.8053 4.90983 11.6327 4.90983C13.4828 4.90983 14.252 7.27729 12.7553 8.36475C12.0859 8.85107 11.8058 9.71311 12.0615 10.5C12.6332 12.2595 10.6193 13.7227 9.12257 12.6353C8.4532 12.1489 7.5468 12.1489 6.87743 12.6353C5.38067 13.7227 3.36679 12.2595 3.9385 10.5C4.19418 9.71311 3.91409 8.85107 3.24472 8.36475C1.74796 7.27729 2.51719 4.90983 4.36729 4.90983C5.19468 4.90983 5.92797 4.37706 6.18364 3.59017Z' fill='%23fff'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            animation: pulseRotate 4s both infinite linear;
            content: "";
            will-change: transform;

            @include below($lg) {
              display: none;
            }
          }
        }
      }
    }

    &-caption {
      position: absolute;
      //bottom: 17.1rem;
      bottom: 9vw;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      width: 100%;
      color: $text-color-white;
      text-align: center;
      pointer-events: none;

      &.is-open {
        z-index: 15;
      }

      &-inner {
        position: relative;
        max-width: 42rem;
        pointer-events: auto;

        @include below($md) {
          max-width: 80%;
        }
      }

      &-link {
        $link: &;

        position: relative;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        vertical-align: top;
        transition: opacity $animation-speed;

        @include below($lg) {
          pointer-events: none;
        }

        &.has-note {
          &::after {
            position: absolute;
            top: 0;
            left: 100%;
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            margin: -0.5rem 0.2rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.18364 3.59017C6.75535 1.83062 9.24465 1.83062 9.81636 3.59017C10.072 4.37706 10.8053 4.90983 11.6327 4.90983C13.4828 4.90983 14.252 7.27729 12.7553 8.36475C12.0859 8.85107 11.8058 9.71311 12.0615 10.5C12.6332 12.2595 10.6193 13.7227 9.12257 12.6353C8.4532 12.1489 7.5468 12.1489 6.87743 12.6353C5.38067 13.7227 3.36679 12.2595 3.9385 10.5C4.19418 9.71311 3.91409 8.85107 3.24472 8.36475C1.74796 7.27729 2.51719 4.90983 4.36729 4.90983C5.19468 4.90983 5.92797 4.37706 6.18364 3.59017Z' fill='%23fff'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            animation: pulseRotate 4s both infinite linear;
            content: "";
            will-change: transform;

            @include below($lg) {
              display: none;
            }
          }
        }

        @at-root {
          a#{$link}:hover {
            opacity: 0.6;
          }
        }
      }

      &_from {
        bottom: 32.3vw;
        left: -24.4%;
        animation-delay: #{$svg-start-delay + $svg-animation-speed-bottom-curve + 2.5s};

        @include below($xl) {
          left: -26%;
        }

        @include below($lg) {
          bottom: 31.5vw;
          left: -28%;
        }

        @include below($md) {
          bottom: 34rem;
        }
      }

      &_to {
        bottom: 32.3vw;
        left: 26%;
        animation-delay: #{$svg-start-delay + $svg-animation-speed-bottom-curve + 2.8s};

        @include below($lg) {
          left: 27.6%;
        }

        @include below($lg) {
          bottom: 31.5vw;
          left: 30%;
        }

        @include below($md) {
          bottom: 34rem;
        }
      }

      &_up {
        bottom: 32.3vw;
        animation-delay: floor-float($svg-start-delay + $svg-animation-speed-bottom-curve + 1.8s, 2);

        @include below($lg) {
          bottom: 31.5vw;
        }

        @include below($md) {
          bottom: 31.4rem;
        }

        .development__chart-caption-inner {
          @include below($md) {
            max-width: 12rem;
          }
        }
      }

      &_middle {
        bottom: 23vw;
        animation-delay: floor-float($svg-start-delay + $svg-animation-speed-bottom-curve + 3.1s, 2);

        @include below($hd) {
          bottom: 25vw;
        }

        @include below($lg) {
          bottom: 23vw;
        }

        @include below($md) {
          bottom: 24.1rem;
        }
      }

      &_low {
        bottom: 9.8vw;
        animation-delay: floor-float(($svg-start-delay + $svg-animation-speed-bottom-curve) * 0.5, 2);

        @include below($md) {
          bottom: 15.7rem;
        }
      }

      &-title {
        position: relative;
        display: inline-flex;
        justify-content: center;
        margin: 0 auto 0.8rem;
        font: bold 2.4rem/3.2rem $font-title;
        letter-spacing: 0.006em;
        text-align: center;
        text-transform: uppercase;

        @include below($hd) {
          margin-bottom: 0;
          font-size: 2rem;
          line-height: 2.4rem;
          letter-spacing: 0.015rem;
        }

        @include below($md) {
          font-size: 1.6rem;
          line-height: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-text {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        text-align: center;

        @include below($hd) {
          font-size: 1.6rem;
          line-height: 2rem;
          letter-spacing: 0.04rem;
        }
      }
    }

    &-balloon {
      $balloon: &;

      position: absolute;
      top: 0.2rem;
      left: 100%;
      margin: 0 1rem;
      overflow: hidden;
      text-align: left;
      border-radius: 0 0 20rem 0;
      box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.2);
      transform: scale(0);
      transform-origin: 0 0;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: {
        property: border-radius, opacity, transform, visibility;
        duration: $animation-speed-out;
      };

      .development__chart-caption_low &,
      .development__chart-note_development-processes & {
        top: auto;
        bottom: 100%;
        left: 100%;
        border-radius: 0 20rem 0 0;
        transform-origin: 0 100%;
      }

      #{$balloon}_idea & {
        top: auto;
        bottom: 0;
        left: 100%;
        border-radius: 0 20rem 0 0;
        transform-origin: 0 100%;
      }

      //.development__chart-labels-x-item-inner:hover &,
      //.development__chart-caption-inner:hover &,
      &.is-open {
        border-radius: 0;
        transform: scale(1);
        visibility: visible;
        opacity: 1;
        transition-duration: $animation-speed;
        pointer-events: auto;
      }

      &-inner {
        width: 28rem;
        padding: 1.6rem;
        background-color: $bg-color-white;
      }

      &-title {
        margin-bottom: 0.8rem;
        color: $text-color-black;
        font: bold 2.4rem/3.2rem $font-title;
        letter-spacing: 0.006rem;
        text-transform: uppercase;

        @include below($hd) {
          font-size: 2rem;
          line-height: 2.4rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-text {
        display: -webkit-box;
        margin-bottom: 0.8rem;
        color: $text-color-grey;
        font: 2rem/2.8rem $font;
        letter-spacing: 0.02em;
        text-transform: none;

        @include below($hd) {
          font-size: 1.6rem;
          line-height: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
