.section-article {
  $el: &;

  position: relative;
  display: flex;
  min-height: #{round-float(596 / 1366, 3) * 100vw};
  overflow: hidden;
  background-color: $bg-color-blue;

  @include below($md) {
    display: block;
  }

  &_blue {
    background-color: $bg-color-white;
  }

  &__caption {
    $width: 34%;

    position: relative;
    flex: 1 0 $width;
    max-width: $width;
    padding: #{$layout-page-space-v} 4.4rem #{$layout-page-space-v} #{$layout-page-space-h};
    overflow: hidden;

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      max-width: $width;
    }

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      max-width: none;
      min-height: 32rem;
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.45;
    }
  }

  &__title {
    position: relative;
    max-width: 100%;
    margin-top: auto;
    color: $text-color-white;
    font: 300 #{$h4-font-size}/#{$h2-line-height} $font-title;
    text-transform: uppercase;

    @include below($hd) {
      font-size: $h4-font-size_md;
      line-height: $h4-line-height_md;
      letter-spacing: -0.06rem;
    }

    @include below($xxl) {
      font-size: 2.8rem;
      line-height: 3.6rem;
    }

    @include below($xl) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    #{$el}_blue & {
      color: $text-color-blue;
    }

    & > span {
      display: block;
    }
  }

  &__content {
    $width: 66%;

    position: relative;
    display: flex;
    flex: 1 0 $width;
    flex-direction: column;
    justify-content: flex-end;
    max-width: $width;
    padding: #{$layout-page-space-v} #{$layout-page-space-h} #{$layout-page-space-v} 4.4rem;
    overflow: hidden;
    color: $text-color-white;
    background-color: $bg-color-black;

    @include below($hd) {
      $width: 50%;

      flex-basis: $width;
      max-width: $width;
    }

    @include below($xl) {
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
    }

    @include below($md) {
      max-width: none;
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    &-container {
      width: 100%;
    }

    &-title {
      margin-bottom: 0.8rem;
      font: 300 3.2rem/4rem $font-title;
      letter-spacing: round-float(0.2 / 32 * 1em, 3);
      text-transform: uppercase;

      @include below($md) {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      margin-bottom: 2rem;
      font: 500 3.2rem/4rem $font-title;
      letter-spacing: round-float(0.2 / 32 * 1em, 3);

      @include below($hd) {
        font-size: 2.4rem;
        letter-spacing: round-float(0.5 / 24 * 1em, 3);
      }

      @include below($md) {
        font-size: 2rem;
        line-height: 2.8rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-footer {
      display: flex;
      align-items: flex-start;
    }
  }
}
