.lang-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  text-decoration: none;
  transition: {
    property: opacity;
    duration: $animation-speed;
  };
  user-select: none;

  &:hover {
    opacity: 0.7;
  }

  @include below($hd) {
    width: 2.4rem;
    height: 2.4rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
  }
}
