.lang-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $header-height-top;
  height: $header-height-top;
  text-decoration: none;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: $bg-color-blue;
    transform: scaleY(0) skewX(-18deg);
    transform-origin: right bottom;
    transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
    content: "";
    will-change: transform;
  }

  img {
    position: relative;
    display: block;
    width: 4rem;
    height: auto;
    backface-visibility: hidden;
    transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);

    @include below($hd) {
      width: 2.4rem;
    }
  }

  &:hover {
    &::before {
      transform: scaleY(1) skewX(0deg);
      transition-duration: $animation-speed;
    }

    img {
      transform: translateX(-8%) translateY(8%);
      transition-duration: $animation-speed;
    }
  }
}
