.global {
  position: relative;
  height: 100%;
  background-color: $bg-color-black;

  @include below($xl) {
    height: auto;
  }

  &__heading {
    $width: 65%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    padding: #{$layout-page-space-v} #{$layout-page-space-h};
    pointer-events: none;

    @include below($hd) {
      @include padding-y($layout-page-space-v_lg);
    }

    @include below($xl) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: auto;
      max-width: none;
      //min-height: 36rem;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md} 0;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm} 0;
    }

    &-title {
      position: relative;
      margin-bottom: 1.6rem;
      color: $text-color-white;
      font: bold #{$h3-font-size}/#{$h3-line-height} $font-title;
      text-transform: uppercase;

      @include below($hd) {
        font-size: #{$h3-font-size_md};
        line-height: #{$h3-line-height_md};
      }

      @include below($xl) {
        width: 100%;
      }
    }

    &-text {
      max-width: 55rem;
      color: $text-color-white;
      font: 500 3.2rem/4rem $font-title;
      letter-spacing: 0.006em;

      @include below($hd) {
        max-width: 45rem;
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      &_script {
        @include below($xl) {
          display: none;
        }
      }

      &_no-script {
        display: none;

        @include below($xl) {
          display: block;
          width: 100%;
        }
      }
    }
  }

  &__data {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include below($xl) {
      position: relative;
      //display: block;
      display: none;
      height: auto;
      margin-bottom: 22rem;
      padding: 0 #{$layout-page-space-h_md} #{$layout-page-space-v_md};
    }

    @include below($md) {
      margin-bottom: 32rem;
    }
  }

  &__map {
    position: relative;
    // 1920 1020
    width: calc((100vh - #{$header-height-top} - 17.9rem) / (698 / 1286)); // Изменение ширины через относительную высоту
    //width: 100%;
    //height: 100%;

    @include below($hd) {
      width: calc((100vh - #{$header-height-top} - 4rem) / (698 / 1286)); // Изменение ширины через относительную высоту
    }

    @include below($xl) {
      width: auto;
    }

    &::before {
      display: block;
      content: "";

      @include ratio(1286, 698);
    }

    &-svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-balloon {
      $balloon: &;

      position: absolute;
      top: 0;
      left: 0;

      @include below($xl) {
        position: static;
      }

      &.is-open {
        z-index: 5;
      }

      &_minsk {
        top: 30.4%;
        left: 55.9%;
      }

      &_conroe {
        top: 43.3%;
        left: 18.6%;
      }

      &_shenzhen {
        top: 48.8%;
        left: 81.2%;
      }

      &_kent {
        top: 34%;
        left: 46.3%;
      }

      &_petersburg {
        top: 24%;
        left: 56.2%;
      }

      &-inner {
        position: relative;

        @include below($xl) {
          position: static;
        }
      }

      &-hand {
        $hand: &;

        position: relative;
        display: block;
        padding-left: 3.2rem;
        color: $text-color-grey;
        white-space: nowrap;
        text-decoration: none;
        transform-origin: left center;
        transition: color $animation-speed-out;

        @include below($hd) {
          padding-left: 2.4rem;
        }

        @include below($xl) {
          position: absolute;
          min-width: 1.2rem;
          min-height: 2rem;
          padding-left: 0;

          #{$balloon}_minsk & {
            top: 30.4%;
            left: 55.9%;

            @include below($md) {
              top: 18%;
            }
          }

          #{$balloon}_conroe & {
            top: 43.3%;
            left: 18.6%;
          }

          #{$balloon}_shenzhen & {
            top: 48.8%;
            left: 81.2%;
          }

          #{$balloon}_kent & {
            top: 34%;
            left: 46.3%;
          }

          #{$balloon}_petersburg & {
            top: 24%;
            left: 56.2%;

            @include below($md) {
              top: 33%;
            }
          }
        }

        &.is-open,
        &:hover {
          color: $text-color-white;
          transition-duration: $animation-speed;
        }

        &-dot {
          position: absolute;
          top: 50%;
          left: 0;
          width: 1.6rem;
          height: 1.6rem;
          margin-top: -0.8rem;
          border-radius: 50%;
          box-shadow: 0 0 0 0.4rem currentColor;
          transition: background-color $animation-speed-out;

          @include below($hd) {
            width: 1.2rem;
            height: 1.2rem;
            margin-top: -0.6rem;
          }

          #{$hand}.is-open & {
            background-color: $bg-color-blue;
          }
        }

        &-text {
          font: bold 2rem/3.2rem $font-title;
          letter-spacing: 0.006em;
          text-transform: uppercase;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.015rem;
          }

          @include below($xl) {
            display: none;
          }
        }
      }

      &-popup {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0.4rem 0;
        overflow: hidden;
        box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.2);
        transform: scale(0);
        transform-origin: 0 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: {
          property: border-radius, opacity, transform, visibility;
          duration: $animation-speed-out;
        };

        @include below($hd) {
          padding: 0.8rem 0;
        }

        @include below($xl) {
          top: auto;
          right: auto;
          bottom: -22rem;
          left: 0;
          width: 100vw;
          margin: 0 -#{$layout-page-space-h_md} -#{$layout-page-space-v_md};
          padding: 0;
          transform-origin: left bottom;
        }

        @include below($md) {
          bottom: -32rem;
        }

        #{$balloon}_conroe & {
          @include below($hd) {
            top: 0;
            left: 100%;
            margin: -6rem 1rem;
            transform-origin: 0 4rem;
          }

          @include below($xl) {
            top: auto;
            right: auto;
            bottom: -22rem;
            left: 0;
            width: 100vw;
            margin: 0 -#{$layout-page-space-h_md} -#{$layout-page-space-v_md};
            transform-origin: left bottom;
          }

          @include below($md) {
            bottom: -32rem;
          }
        }

        #{$balloon}_shenzhen & {
          @include below($hd) {
            top: 0;
            right: 100%;
            left: auto;
            margin: -8rem 1rem;
            transform-origin: 100% 8rem;
          }

          @include below($xl) {
            top: auto;
            right: auto;
            bottom: -22rem;
            left: 0;
            width: 100vw;
            margin: 0 -#{$layout-page-space-h_md} -#{$layout-page-space-v_md};
            transform-origin: left bottom;
          }

          @include below($md) {
            bottom: -32rem;
          }
        }

        #{$balloon}_kent & {
          @include below($hd) {
            top: 0;
            right: 100%;
            left: auto;
            margin: -8rem 1rem;
            transform-origin: 100% 8rem;
          }

          @include below($xl) {
            top: auto;
            right: auto;
            bottom: -22rem;
            left: 0;
            width: 100vw;
            margin: 0 -#{$layout-page-space-h_md} -#{$layout-page-space-v_md};
            transform-origin: left bottom;
          }

          @include below($md) {
            bottom: -32rem;
          }
        }

        &.is-open {
          border-radius: 0;
          transform: scale(1);
          visibility: visible;
          opacity: 1;
          transition-duration: $animation-speed;
          pointer-events: auto;
        }

        &-inner {
          width: 32rem;
          padding: 1.6rem;
          background-color: $bg-color-white;

          @include below($hd) {
            width: 24rem;
          }

          @include below($xl) {
            width: 100%;
          }
        }

        &-photo {
          position: relative;
          max-width: 24.7rem;
          margin-bottom: 1.6rem;

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            display: block;
            content: "";

            @include ratio(247, 126);
          }

          &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-logo {
          display: block;
          max-width: 100%;
          height: auto;
          margin-bottom: 1.2rem;

          @include below($hd) {
            width: 16rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-address {
          margin-bottom: 0.4rem;
          color: #696969;
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.02em;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.04rem;
          }

          @include below($xl) {
            & > br {
              display: none;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-phones {
          margin-bottom: 1.6rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-phone {
          margin-bottom: 0.4rem;
          color: #696969;
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.02em;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.04rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: inherit;
            text-decoration: none;
            transition: $animation-speed;

            &:hover {
              color: $link-color;
            }
          }
        }
      }
    }
  }

  &__info {
    $item-space-h: 4.4rem;
    $item-space-h_lg: 2.8rem;

    position: relative;
    display: none;
    padding: 0 #{$layout-page-space-h} #{$layout-page-space-v};
    overflow: hidden;

    @include below($xl) {
      display: block;
      padding: #{$layout-page-space-v_md} #{$layout-page-space-h_md};
      background: url(../images/global-map.svg) no-repeat center / auto 90%;
    }

    @include below($md) {
      padding: #{$layout-page-space-v_sm} #{$layout-page-space-h_sm};
    }

    html:not(.no-js) &:not(.is-loaded) {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    &-list {
      margin: 0 -#{$item-space-h / 2};

      @include below($hd) {
        margin: 0 -#{$item-space-h_lg / 2};
      }

      @include below($xl) {
        margin: 0 -#{$layout-page-space-h_md / 2};
      }

      @include below($md) {
        margin: 0 -#{$layout-page-space-h_sm / 2};
      }
    }

    .swiper-container {
      overflow: visible;
    }

    .swiper-slide {
      height: auto;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 0 #{$item-space-h / 2};

      @include below($hd) {
        padding: 0 #{$item-space-h_lg / 2};
      }

      @include below($xl) {
        padding: 0 #{$layout-page-space-h_md / 2};
      }

      @include below($md) {
        padding: 0 #{$layout-page-space-h_sm / 2};
      }

      &-el {
        $el: &;

        display: flex;
        flex: 1 1;
        flex-direction: column;
        width: 100%;
        color: $text-color-white;
        background-color: rgba($bg-color-blue, 0.5);

        @include below($xl) {
          padding: 1.6rem;
        }

        &-content {
          width: 100%;
          margin-bottom: 1.6rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-photo {
          position: relative;
          margin-bottom: 1.6rem;

          @include below($xl) {
            max-width: 32rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &-img {
            display: block;
            width: 100%;
            height: auto;
          }
        }

        &-logo {
          display: block;
          max-width: 100%;
          height: auto;
          margin-bottom: 1.2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-title {
          margin-bottom: 1.2rem;
          color: inherit;
          font-size: 2rem;
          line-height: 2.8rem;
          letter-spacing: 0.02em;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.04rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-address {
          margin-bottom: 1.2rem;
          color: inherit;
          font-size: 2rem;
          line-height: 2.8rem;
          letter-spacing: 0.02em;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.04rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-phones {
          margin-bottom: 1.2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-phone,
        &-free {
          color: inherit;
          font-size: 2rem;
          line-height: 2.8rem;
          letter-spacing: 0.02em;

          @include below($hd) {
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.04rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: inherit;
            text-decoration: none;
            transition: $animation-speed;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    &-controls {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: 5;
      height: 0;

      @include below($xl) {
        display: none;
      }
    }

    &-button {
      $size: 4.6rem;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      margin-top: -#{round-float($size / 2, 1)};
      color: black;
      background-color: $button-color-blue;
      border-radius: 0;
      box-shadow: 0 0 0 1px rgba(white, 0.1);
      cursor: pointer;
      opacity: 1;
      transition: $animation-speed;
      -webkit-tap-highlight-color: transparent;
      user-select: none;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
      }

      &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-color: $button-color-black;
        transform: scaleY(0);
        transform-origin: right bottom;
        //filter: invert(1);
        transition: $animation-speed-out cubic-bezier(0.215, 0.61, 0.355, 1);
        will-change: transform;
      }

      &::after {
        top: 50%;
        left: 50%;
        width: 1.2rem;
        height: 2rem;
        margin: -1rem -0.6rem;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.swiper-button-lock {
        display: none;
      }

      &_prev {
        float: left;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6835 27.6333L18.0502 20L25.6835 12.35L23.3335 10L13.3335 20L23.3335 30L25.6835 27.6333Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      &_next {
        float: right;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3165 27.6333L21.9499 20L14.3165 12.35L16.6665 10L26.6665 20L16.6665 30L14.3165 27.6333Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      // :hover
      &:not(.swiper-button-disabled):hover {
        &::before {
          transform: scaleY(1);
          transition-duration: $animation-speed;
        }
      }

      // :active
      &:not(.swiper-button-disabled):active {
        transform: scale(0.95);
        transition: 0.1s;

        &::before {
          transform: scaleY(1);
          transition-duration: $animation-speed;
        }
      }

      // Disabled
      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
