.snippet-download {
  font-size: 2rem;
  line-height: 2.4rem;

  @include padding-x($layout-page-space-h);

  @include below($hd) {
    @include padding-x($layout-page-space-h_lg);
  }

  @include below($xl) {
    @include padding-x($layout-page-space-h_md);
  }

  @include below($md) {
    @include padding-x($layout-page-space-h_sm);
  }

  &__item {
    margin: 0 0 2.4rem;
  }

  &__link {
    $link: &;

    position: relative;
    display: inline-block;
    padding-left: 3.4rem;
    color: $link-color;
    text-decoration: none;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 2C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2H6ZM6 4H13V9H18V20H6V4ZM8 12V14H16V12H8ZM8 16V18H13V16H8Z' fill='%230870D8'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
    }

    &-name {
      display: inline-block;
      margin-bottom: 0.8rem;
      box-shadow: inset 0 0 0 transparent;
      transition: $animation-speed-out;

      #{$link}:hover & {
        box-shadow: inset 0 -2px 0 currentColor;
        transition: $animation-speed;
      }
    }

    &-info {
      color: $text-color-grey;
      font-size: 0.75em;
      line-height: 1.4;
    }
  }
}
