.section-author {
  $el: &;

  position: relative;
  padding: 0 #{$layout-page-space-h} #{$layout-page-space-v};
  overflow: hidden;
  background-color: $bg-color-white;

  @include below($xl) {
    padding: 0 #{$layout-page-space-h_md} #{$layout-page-space-v_md};
  }

  @include below($md) {
    padding: 0 #{$layout-page-space-h_sm} #{$layout-page-space-v_sm};
  }

  &_has-top-space {
    padding-top: #{$layout-page-space-v};

    @include below($xl) {
      padding-top: #{$layout-page-space-v_md};
    }

    @include below($md) {
      padding-top: #{$layout-page-space-v_sm};
    }
  }

  &__row {
    //display: flex;
    //align-items: flex-start;
    max-width: 120rem;
    //margin-bottom: #{$layout-page-space-v};
    margin: 0 auto #{$layout-page-space-v};

    @include below($lg) {
      margin-bottom: #{$layout-page-space-v_md};
    }

    @include below($md) {
      //display: block;
      margin-bottom: #{$layout-page-space-v_sm};
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    //$width: 34%;

    //flex: 1 0 $width;
    //max-width: $width;
    //padding-right: 2.8rem;
    margin-bottom: 2.8rem;

    @include below($md) {
      //max-width: none;
      margin-bottom: #{$layout-page-space-v_sm};
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      display: block;
    }
  }

  &__authors {
    display: block;
    margin-bottom: 6.4rem;

    @include below($xl) {
      margin-bottom: $layout-page-space-v_md;
    }

    @include below($md) {
      margin-bottom: $layout-page-space-v_sm;
    }
  }

  &__author {
    $photo-size: 6.4rem;

    width: 100%;
    margin-bottom: 2.4rem;

    @include below($md) {
      margin-bottom: #{$layout-page-space-v_sm};
    }

    @include clearfix;

    &:last-child {
      margin-bottom: 0;
    }

    &-photo {
      position: relative;
      float: left;
      width: $photo-size;
      height: $photo-size;
      overflow: hidden;
      background-color: $bg-color-blue;
      border-radius: $photo-size;

      &-img {
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &-name {
      margin-left: $photo-size + 1.6rem;
      color: $text-color-black;
      font: 300 2.4rem/3.2rem $font-title;
      letter-spacing: 0.006rem;
      text-transform: uppercase;
    }

    &-post {
      margin-left: $photo-size + 1.6rem;
      color: $text-color-black;
      font: 2rem/2.8rem $font;
      letter-spacing: 0.02em;
    }
  }

  &__description {
    //$width: 66%;

    //flex: 1 0 $width;
    //max-width: $width;
    color: $text-color-black;
    //font-size: 2.6rem;
    //line-height: 3.4rem;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.02em;

    //@include below($hd) {
    //  font-size: 2rem;
    //  line-height: 2.8rem;
    //}

    @include below($md) {
      //max-width: none;
      font-size: 1.6rem;
      line-height: 2rem;
    }

    p {
      //margin-bottom: 3.4rem;
      margin-bottom: 2.8rem;

      //@include below($hd) {
      //  margin-bottom: 2.8rem;
      //}

      @include below($md) {
        margin-bottom: #{$layout-page-space-v_sm};
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__figure {
    display: block;
    margin-bottom: 3.4rem;

    @include below($hd) {
      margin-bottom: 2.8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      display: block;
      max-width: 100%;
      margin-bottom: 0.8rem;

      &.loaded {
        width: 100%;
        height: auto;
      }
    }

    &-caption {
      display: block;
      color: $text-color-black;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.025em;
      opacity: 0.5;

      @include below($md) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
}
